<% content_for :page_title, 'U.S. President\'s Railroad Commission Photographs' %>
<div class="container">
	<h2>U.S. President's Railroad Commission Photographs</h2>
	<div class="pull-right img-right">
		<a href="/catalog/ss:20864752">
		<%= image_tag "collections/railroad/5003pb60f004.jpg" , alt: "", class: "img-responsive" %>
		</a>
		<p class="caption">
			CNW Locomotive #1653 at platform in passenger terminal (fireman side)
		</p>
	</div>
	<p>The U.S. Presidential Railroad Commission was established by Executive Order No. 10891 of November 1, 1960, to consider a controversy between carriers represented by the Eastern, Western, and Southeastern Carriers' Conference Committees and railroad employees. The employees were represented by labor organizations for operating employees: the Brotherhood of Locomotive Engineers (BLE), the Brotherhood of Locomotive Firemen and Enginemen (BLF&E), the Order of Railway Conductors and Brakemen (ORC&B), the Brotherhood of Railroad Trainmen (BRT), and the Switchmen's Union of North America (SUNA).</p>

	<p>The controversy surrounded the assertion by the carriers that firemen, also called “helpers,” were not needed on diesel locomotives and that their positions should be eliminated. The unions, on the other hand, maintained that modern diesel locomotives were much too complex to be operated by one engineer and that firemen were necessary to ensure safety. Seventy-nine witnesses appeared before the Commission and statements were filed on behalf of one hundred and fifty-five additional witnesses.</p>

	<p>Included in the witness testimony submitted by the railroad labor organizations were numerous photographs of various railroad operations used to support their claim for the necessity of the fireman position.</p>
	<div class="pull-left img-left">
		<a href="https://www.archives.gov/nhprc">
		<%= image_tag "collections/railroad/nhprc-logo-l.jpg" , alt: "National Historical Publications & Records Commission", class: "img-thumbnail img-responsive" %>
		</a>
	</div>

	<p>The railroad labor unions asked their members who worked for various carriers across the country to document their workplaces, such as train yards, stations and terminals, railroad tracks in urban and rural settings, industry sidings, industrial facilities, and locomotive engines. This request yielded over 1,655 photographs of the railroad facilities and equipment of 48 carriers across the United States by more than 30 railroad employees, the majority of whom were employed as firemen and engineers.</p>

	<p>A number of the photographs were entered into evidence by the unions, but not all of them were used. In this collection, the U.S. President's Railroad Commission Photographs, both evidentiary photographs and those not used in the proceeding are gathered together to present a remarkably complete picture of the railroad industry and the surrounding American towns, cities, and countryside serviced by the railroads.</p>

	<p>This collection was processed and digitized with the help of generous funding from the <a href="https://www.archives.gov/nhprc">National Historic Publications and Records Commission (NHPRC)</a>.</p>
	
	<div class="collection-search well">
		<h3>Search the U.S. President's Railroad Commission Photographs or <a href="/?f%5Bcollection_tesim%5D%5B%5D=U.S.+President%27s+Railroad+Commission+Photographs">browse the collection</a></h3>
		<%= render '/catalog/search_form', { :@collection_search => "U.S. President's Railroad Commission Photographs"}  %>
	</div>
	<h3>Finding aid</h3>
	<p><a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05003p.html" class="finding-aid-link">Guide to the U.S. President's Railroad Commission Photographs<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
	<%= render partial: 'pages/collections/railroad/sets' %>
	<%= render partial: 'pages/top' %>
</div>