<% content_for :page_title, 'Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin' %>
<div class="container nasbeh-layout">
	<%= render partial: 'pages/collections/tell-en-nasbeh/menu' %>
	
	<p>Tell en-Naṣbeh is an archaeological site about 12 km (eight miles) north of the Old City of Jerusalem and south of the modern Palestinian city of Ramallah (31°53'07"N, 35°13'00"E; New Israel Grid 220559.86E - 643543.35N; Old Israel Grid 1706.1144) at 848 m (2762’) above sea level (Fig 1). The site sits on the trunk road running along the spine of the central hill country, connecting Hebron and Jerusalem on the south with important sites to the north, such as Samaria and Shechem. Tell en-Naṣbeh also sits near to the northern border of the tribe of Benjamin. Its location made it an important border fortress, protecting Jerusalem from attacks from the north (in Isaiah 10:27b–32 an imagined attacker diverts his approach on Jerusalem by taking the more roundabout eastern Michmash pass, rather than take the main road past Mizpah). The site, excluding surrounding cemeteries, is about 250 m north to south and 160 m east to west (Fig.2 and Plan of Plans below). It covers an area of 3.2 hectares (ca. 8 acres), though the area inside the fortifications only amounts to about 2.4 hectares and the actual area occupied by houses is only a bit over 1.7 hectares.</p>
	<div class="center-image-block row clearfix">
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure1.png", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 1</em> Map showing location of Tell en-Naṣbeh</p>
		</div>
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure2.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 2</em> Aerial view of Tell en-Naṣbeh (TODO: add Google Earth credit)</p>
		</div>
	</div>
	<p>Based on its locations and material cultural record Tell en-Naṣbeh is usually identified with biblical Mizpah of Benjmain. Mizpah figures prominently in a number of biblical texts. In Joshua 18:26 it is listed as one of the towns of Benjamin. In Judges 20–21 it is the gathering point for the tribes of Israel in their civil war against Benjamin. The tribes again gather at Mizpah to fight against the Philistines in 1 Samuel 7; in the same chapter, it is one of the towns in which the Prophet Samuel judges the Israelites. Saul is selected as the first Israelite king at Mizpah in 1 Samuel 10.  King Asa of Judah is said to have fortified Mizpah during his war with King Baasha of Israel in 1 Kings 15 and 2 Chronicles 16. In 2 Kings 25 and Jeremiah 40–41 Mizpah becomes the administrative center of what is left of Judah after the Babylonians destroy Jerusalem. Finally, in Nehemiah 3, men from Mizpah help rebuild the walls of Jerusalem under Nehemiah.</p>
	<p>William Frederic Badè (Fig. 3) of what is now Pacific School of Religion, in Berkeley California, excavated about two-thirds the site in five lengthy seasons (1926, 1927, 1929, 1932, and 1935). Badè died in 1936, a year after the conclusion of the excavation. His death, the Great Depression, and the advent of World War II delayed the publication of the final report until 1947. The two-volume final report (McCown 1947; Wampler 1947) was brought to completion by Badè’s seminary colleague, Chester C. McCown and his chief assistant during the last three years of the excavation, Joseph C. Wampler. The site plans were largely the work of Labib Sorial, the excavation’s Egyptian surveyor and architect (Fig. 4). Sorial was the only member of the staff, besides Badè, to participate in all five seasons of the excavation.</p>
	<div class="center-image-block row clearfix">
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure3.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 3</em> William Frederic Badè, the director of the Tell en-Naṣbeh excavations</p>
		</div>
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure4.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 4</em> Labib Sorial, the Egyptian surveyor/architect who drew the Tell en-Naṣbeh plans</p>
		</div>
	</div>
	<p>The stratification of the site, as proposed by McCown and Wampler, was problematic on many levels and impeded scholarly use of the site’s remains. The main problem was that most, but not all, of the site’s architecture was published on a single 1:400 scale which lacked the detail for a proper critical review of the remains. Only a few more detailed plans were published in the 1947 report. Later, Tell en-Naṣbeh’s architecture was completely reevaluated and revised in a dissertation by Jeffrey R. Zorn (1993). This study remains the fundamental understanding of the site’s stratigraphy. Two highlights of Zorn’s study were the identification of an inner-outer gate complex and a until then unsuspected stratum (Stratum 2) belonging to the Babylonian to Persian periods (ca. 586-400 BCE).</p>
	<p>The primary data with which Zorn worked were the hundreds of photographs of the site’s architectural remains (Figs. 5–8), many of which did not appear in the 1947 report, and the series of 1:100 scale plans which were also unpublished. Because these plans were never published it has been impossible for scholars to independently evaluate the theories proposed by either McCown and Wampler, or Zorn, unless they traveled to the Badè Museum in Berkeley where the plans are housed. Through the generosity of the Cornell University Library, in cooperation with the Badè Museum, these plans have now been digitized and are made available here for the use of students and scholars.</p>
	<div class="center-image-block row clearfix">
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure5.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 5</em> View, looking north, of excavations in 1935, primarily Plan 159 and western part of Plan 160.</p>
		</div>
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure6.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 6</em> Storage bins (left) and part of town wall (right) in Squares AG–AH, 26–27, looking north, on Plan 179.</p>
		</div>
	</div>
	<div class="center-image-block row clearfix">
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure7.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 7</em> View, looking southeast, of the outer two-chamber gate on Plan 93.</p>
		</div>
		<div class="image col-sm-6">
			<%= image_tag "collections/tell-en-nasbeh/figure8.jpg", alt: "", class: "img-responsive" %>
			<p class="caption"><em>Fig. 8</em> View, looking north, of outer face of town wall in Square AN22 on Plan 195 showing the great height to which the wall was preserved and the original mud plaster surface.</p>
		</div>
	</div>
	<p>The plans were drawn primarily by Sorial on canvas backed vellum and cover most of the architectural remains found at the site. Each square is 10 m on a side. A few features were not included on these plans, or on the 1:400 plan published in the 1947 report. Those appeared only in two figures in that report (42 and 57). In addition, the plan which shows the site’s outer two-chamber gate (93) contained a variety of later walls which made the full form of the gate difficult to discern. A plan showing the gate alone, as prepared by Badè’s team, is also made available here. The Plan of Plans shows how the individual squares were laid out on the 1:100 sheets. These plans are mostly in arrangements of three squares by three squares. It is unknown why Plans 106–110 only contain two rows of squares, instead of the usual three. It is clear from the breaks in the numbering of the plans that this original scheme extended off the site to both east and west. In 1991 a good number of the plans were damaged by water from a leaking pipe. These were redrawn by John Berg on vellum to completely match the originals. The damaged plans include: 124, 125, 126, 127, 141. 142, 144, 160, 176, 177. The Plan of Plans shows spaces for Plans 108 and 161; however, these areas were never excavated and, as a consequence, 1:100 plans were never prepared. Plan 128 could not be found and so was not digitized.</p>
	<%= render partial: 'pages/top' %>
	<h3 id="plan">Browse images</h3>
	<p>Click on the grid to see corresponding images. Plans with an "x" are unavailable at this time.</p>
	
	<div class="row">
		<div class="col-sm-6">
			<%= render partial: 'pages/collections/tell-en-nasbeh/image_map' %>
		</div>
		<div class="col-sm-6">
			<h4>Additional plans</h3>
			<div class="sets">
				<div class="row">
					<div class="set-item">
						<a href="/catalog/ss:19102674">
							<img src="http://stor.artstor.org/stor/7f478d16-7d32-4455-b632-4e2695e669b3_size2" class="img-thumbnail" alt="Figure 42">
							<div class="set-link">
								(C) Figure 42
							</div>
						</a>
					</div>
					<div class="set-item">
						<a href="/catalog/ss:19102676">
							<img src="http://stor.artstor.org/stor/609baf61-a68d-43ca-8e98-fb60511bf7ee_size2" class="img-thumbnail" alt="Figure 57">
							<div class="set-link">
								(B) Figure 57
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="set-item">
						<a href="/catalog/ss:19102677">
							<img src="http://stor.artstor.org/stor/497514bc-1127-4b39-a280-5d4207b17d31_size2" class="img-thumbnail" alt="Figure 57">
							<div class="set-link">
								(A) Part of Plan 93
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render partial: 'pages/top' %>
	<h3 id="bibliography">Bibliography</h3> 
	<ul>
		<li>A bibliography of publications related to Tell en-Naṣbeh can be found at: <a href="http://www.arts.cornell.edu/jrz3/tellen.htm">http://www.arts.cornell.edu/jrz3/tellen.htm</a></li>
		<li>A PDF of the 1947 report, and Badè’s field manual can be found at: <a href="http://www.arts.cornell.edu/jrz3/1947_Report.htm">http://www.arts.cornell.edu/jrz3/1947_Report.htm</a></li>
		<li>Jeffrey R. Zorn’s dissertation is available at: <a href="http://escholarship.org/uc/item/23m04969">http://escholarship.org/uc/item/23m04969</a></li>
		<li>Other publications by Zorn on Tell en-Naṣbeh, many in PDF form, can be found at: <a href="http://www.arts.cornell.edu/jrz3/pdf_files_of_collected_works.htm">http://www.arts.cornell.edu/jrz3/pdf_files_of_collected_works.htm</a></li>
		<li>McCown, C. C.<br>
			1947 <em>Tell en-Naṣbeh: Excavated Under the Direction of the Late William Frederic Badè.</em> Vol. I, <em>Archaeological and Historical Results.</em> Berkeley and New Haven: Palestine Institute of Pacific School of Religion and American Schools of Oriental Research.</li>
		<li>Wampler, J. C.<br>
			1947 <em>Tell en-Naṣbeh: Excavated Under the Direction of the Late William Frederic Badè.</em> Vol. II, <em>The Pottery.</em>Berkeley and New Haven: Palestine Institute of Pacific School of Religion and American Schools of Oriental Research. 
 		<li>Zorn, J. R.<br>
			1993 Tell en-Naṣbeh: A Re-evaluation of the Architecture and Stratigraphy of the Early Bronze Age, Iron Age and Later Periods. Ph.D. dissertation, University of California, Berkeley.</li>
	</ul>
	<h3 id="credits">Image credits</h3> 
	<p>All illustrations are adapted from materials under copyright of the Badè Museum of Biblical Archaeology at Pacific School of Religion, Berkeley, California USA. They are used here with the Museum’s kind permission.</p>
	<%= render partial: 'pages/top' %>
</div>