<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<%= render partial: 'pages/collections/seneca/menu' %>
<div class="seneca-layout">
	<div class="container">
		<h3><a href="/collections/seneca/white-springs">White Springs</a> / Possible Fortification Area</h3>
		<p>Given that historical documents suggest that uncertainty and occasional violence characterized most of the 1688–1715 occupation period at White Springs, archaeologists expected to find some sort of fortification at the site.  Other Haudenosaunee sites built around this time featured palisades of wooden posts around their perimeters.  Most of these sites featured fortifications with straight walls that occasionally had bastions projecting from their corners.  Archaeologists unsuccessfully searched for lines of fortification posts in a number of areas of the site during the early years of excavation with no success.  However, archaeologists dug a number of shovel-test pits on the West Lawn of the site in 2014 to try to find the boundary of the site. Substantial numbers of Onöndowa'ga:' finds were  recovered toward the east but there was a distinct drop-off to the west, which can indicate the edge of a settlement. We expanded these excavations in 2015 to explore more of the boundary, resulting in a hand-excavated trench 253 square feet (23.5 square meters) in size.</p>
		<p>Initially, archaeologists recovered what appeared to be a straight line of medium-sized posts, which would be consistent with a fortification line.  However, as we expanded excavations to follow the line of posts, we were unable to find other posts to the south. On the last day, however, we did find one additional post to the southeast. The overall post array in the trench was definitely a rounded arc rather than a straight line.</p>
		<p>Analysis is ongoing, but overall post density appears to be lower and the posts smaller in size than other Haudenosaunee palisades. This may cast the interpretation of this area as a fortification into doubt. However, it is located exactly where domestic artifact density drops off precipitously, and the arrangement of posts do not match house construction forms at White Springs or elsewhere.  Additionally, just inside the possible palisade line there is a 10 foot (3 meter) wide area without archaeological features that may be an access corridor running inside the palisade.</p>
		<p>Overall, it is not entirely certain that this represents the traces of a fortification. It is possible that the smaller posts we recovered from the palisade segment mean that Onöndowa'ga:' builders used more substantial cross-pieces than earlier fortifications. Alternately, this area may represent a less formal windbreak or snow fence as this is the part of the site that receives the impact of the prevailing wind from the west.</p>
		<p><small>- Kurt A. Jordan, archaeologist</small></p>

		<div class="well">
			<h4>Possible Fortification Area</h4>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Possible+Fortification+Area&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Artifacts</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Possible+Fortification+Area&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Animal remains</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Possible+Fortification+Area&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Plant remains</h3>
					</a>
				</div>
			</div>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Possible+Fortification+Area&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Maps, diagrams, and excavation photos</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Possible+Fortification+Area&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Show all</h3>
					</a>
				</div>
			</div>
		</div>
		<%= render partial: 'pages/top' %>
	</div>
</div>