<% content_for :page_title, 'General Site Finds - White Springs - Onöndowa\'ga:\' (Seneca) Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3><a href="/collections/seneca/white-springs">White Springs</a> / General Site Finds</h3>
	<p>This section of the website contains examples of interesting or unique artifacts, plant remains, or animal bone and tooth fragments from the Onöndowa'ga:' occupation at the site of types that were not found within the spaces at the White Springs site we have chosen to highlight for this digital project.  This section also includes overall site maps and excavation photos.</p>
	<p>- Kurt A. Jordan, archaeologist</p>

	<div class="well">
		<h4>General Site Finds</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?_=1602254740828&f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+General+Site+Finds&f[type_tesim][]=artifacts&view=gallery"><%= image_tag "collections/seneca/white-springs/22376931.jpg" , alt: "Artifacts", class: "img-thumbnail img-responsive" %>
					<h3>Artifacts</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?_=1602254740828&f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+General+Site+Finds&f[type_tesim][]=animal+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/28448941.jpg" , alt: "Animal remains", class: "img-thumbnail img-responsive" %>
					<h3>Animal remains</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?_=1602254740828&f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+General+Site+Finds&f[type_tesim][]=plant+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/28448931.jpg" , alt: "Plant remains", class: "img-thumbnail img-responsive" %>
					<h3>Plant remains</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?_=1602254740828&f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+General+Site+Finds&f[type_tesim][]=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/white-springs/22568677.jpg" , alt: "Maps, diagrams, and excavation photos", class: "img-thumbnail img-responsive" %>
					<h3>Maps, diagrams, and excavation photos</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?_=1602254740828&f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+General+Site+Finds&view=gallery"><%= image_tag "collections/seneca/white-springs/24135798.jpg" , alt: "Show all", class: "img-thumbnail img-responsive" %>
					<h3>Show all</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>