<% content_for :page_title, 'House 3 - White Springs - Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3><a href="/collections/seneca/white-springs">White Springs</a> / House 3</h3>
	<p>Test excavations in 2014 in the West Lawn area of the White Springs site revealed a row of small posts that greatly resembled a wall from a Haudenosaunee house.  Archaeologists tried to chase out this line of posts, eventually finding that the posts formed an arc.  This could only mean that we had found the very end of an Onöndowa'ga:' house, and we also knew that it extended east from this arc of posts.  In 2015, archaeologists opened up a larger excavation trench to get more information about the house.</p>
	<p>In total, archaeologists uncovered approximately 410 square feet (38 square meters) of the entryway or vestibule at the west end of an Onöndowa'ga:' longhouse. The structure was about 20 feet (6 meters) wide, and was oriented in an east-west direction.  Although we tried to trace out the remainder of the structure, Euroamerican road construction, utility lines, and the like had badly damaged any traces of the eastern portion of the longhouse and we were not able to determine its total length.  While research is ongoing regarding the posts, pit features, and material culture we recovered from this area, we did not find any obvious large interior structural posts so the excavated part may entirely be the entryway or vestibule. An entryway this large must have been attached to a substantial, multiple-hearth longhouse.</p>
	<p>The items represented in the database from House 3 represent the byproducts of activities Onöndowa'ga:' people undertook in the entryway area.  Historical documents suggest that Haudenosaunee people used these areas for storage, food preparation, and craft production. The recovery of hand-wrought nails suggest that they were used to construct the house.</p>
	<p>A small section of a wall from a second house (House 2) was recovered just to the north of House 3.  The two houses were about 10 feet (3 meters) apart, demonstrating the tightly-packed nature of Onöndowa'ga:' houses at White Springs.</p>
	<p>- Kurt A. Jordan, archaeologist</p>

	<div class="well">
		<h4>House 3</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=House+3&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "collections/seneca/white-springs/22377014.jpg" , alt: "Artifacts", class: "img-thumbnail img-responsive" %>
					<h3>Artifacts</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=House+3&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/28448991.jpg" , alt: "Animal remains", class: "img-thumbnail img-responsive" %>
					<h3>Animal remains</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=House+3&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/24767650.jpg" , alt: "Plant remains", class: "img-thumbnail img-responsive" %>
					<h3>Plant remains</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=House+3&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/white-springs/22568585.jpg" , alt: "Maps, diagrams, and excavation photos", class: "img-thumbnail img-responsive" %>
					<h3>Maps, diagrams, and excavation photos</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=House+3&view=gallery"><%= image_tag "collections/seneca/white-springs/22568593.jpg" , alt: "Show all", class: "img-thumbnail img-responsive" %>
					<h3>Show all</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>