<% content_for :page_title, 'House 4 - White Springs - Onöndowa\'ga:\' (Seneca) Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3><a href="/collections/seneca/white-springs">White Springs</a> / House 4</h3>
	<p>Excavations at the northern part of the Ridgetop area of the White Springs site revealed a confusing array of postmolds and pit features.  Later analysis suggests that archaeologists recovered parts of two Onöndowa'ga:' houses, termed House 1 and House 4.  For this digital project, we concentrate on House 4.</p>
	<p>There are several posts associated with the construction of House 4; they appear consistent with Haudenosaunee architectural principles where most of the weight of the structure was borne by large interior posts (which also held up sleeping benches).  Exterior wall posts were smaller in size. Houses 1 and 4 were oriented northwest-southeast and were approximately 11 feet (3.5 meters) apart, demonstrating the tightly-packed nature of Onöndowa'ga:' houses at White Springs. Since the area investigated was rather small, we cannot estimate the width or overall length of either of these houses.</p>
	<p>Some interesting aspects of the House 4 area include what may be the preserved base of a central firepit or hearth (Feature 7); central hearths most often are destroyed by plowing on Haudenosaunee sites that Euroamericans have used for agriculture (like White Springs). Archaeologists also recovered what appears to be a smudge pit (Post Mold 16), used for smoking hides. Originally this appeared to be a large interior post, but it proved to have been filled with burned corncob fragments and little else.  It is unusual that this was found within the footprint of House 4, since a smoke-making feature probably would not have been used indoors.  It is possible that the smudge pit was used either before the house was built or after it had ceased to be used as a dwelling.</p>
	<p>- Kurt A. Jordan, archaeologist</p>

	<div class="well">
		<h4>House 4</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+House+4&&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "collections/seneca/white-springs/22377079.jpg" , alt: "Artifacts", class: "img-thumbnail img-responsive" %>
					<h3>Artifacts</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+House+4&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/22568634.jpg" , alt: "Animal remains", class: "img-thumbnail img-responsive" %>
					<h3>Animal remains</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+House+4&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "collections/seneca/white-springs/28448987.jpg" , alt: "Plant remains", class: "img-thumbnail img-responsive" %>
					<h3>Plant remains</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+House+4&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/white-springs/22568638.jpg" , alt: "Maps, diagrams, and excavation photos", class: "img-thumbnail img-responsive" %>
					<h3>Maps, diagrams, and excavation photos</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f[collection_tesim][]=Onöndowa'ga%3A'+(Seneca)+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f[location_facet_tesim][]=White+Springs+House+4&view=gallery"><%= image_tag "collections/seneca/white-springs/22377088.jpg" , alt: "Show all", class: "img-thumbnail img-responsive" %>
					<h3>Show all</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>