<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<%= render partial: 'pages/collections/seneca/menu' %>
<div class="seneca-layout">
	<div class="container">
		<h3><a href="/collections/seneca/white-springs">White Springs</a> / Outdoor Pit Feature</h3>
		<p>In the Ridgetop section of the White Springs site, archaeologists recovered three separate large firepit features which were called Features 2, 3, and 6.  Each of these firepits was large enough so that they could not have been inside a wooden structure due to the danger of the house catching fire.  For this digital collection, we have chosen to highlight Feature 6.</p>
		<p>Archaeologists only excavated a portion of the Feature 6 firepit so we do not have full length or width measurements.  However, the excavated portion was 4 feet (1.24 meters) long, 3.2 feet (1.0 meters) wide, and extended 1.1 feet (33 centimeters) below the depth of the non-cultural subsoil around it.  Since this area had been plowed by Euroamerican farmers after the Onöndowa'ga:' occupation, it was originally larger and deeper but the upper parts of the firepit were mixed up by plowing.</p>
		<p>Within the firepit, archaeologists found a wide variety of animal and plant remains and artifacts.  At the very base of the feature, Onöndowa'ga:' people had placed a line of approximately twelve large rocks; a 12.5 inch (32 centimeter) sharpened iron wire fragment (probably a locally-straightened segment of a handle from a brass kettle that might have been used as a poker) also  was also found near the bottom of the feature.  While analysis is ongoing, Onöndowa'ga:' people appear to have used this firepit for cooking and later for holding household trash.</p>
		<p><small>- Kurt A. Jordan, archaeologist</small></p>

		<div class="well">
			<h4>Outdoor Pit Feature</h4>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Outdoor+Pit+Feature&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "collections/seneca/white-springs/22377146.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Artifacts</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Outdoor+Pit+Feature&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Animal remains</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Outdoor+Pit+Feature&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Plant remains</h3>
					</a>
				</div>
			</div>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Outdoor+Pit+Feature&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/white-springs/22568574.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Maps, diagrams, and excavation photos</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=Outdoor+Pit+Feature&view=gallery"><%= image_tag "collections/seneca/white-springs/22377144.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Show all</h3>
					</a>
				</div>
			</div>
		</div>
		<%= render partial: 'pages/top' %>
	</div>
</div>