<% content_for :page_title, 'Campus Artifacts, Art & Memorabilia' %>
<div class="container">
	<h2>Campus Artifacts, Art &amp; Memorabilia</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Campus Artifacts, Art & Memorabilia"}  %>
			</div>
			<a href="/catalog/ss:1791252">
				<%= image_tag "http://stor.artstor.org/stor/95771aaf-1449-4252-a1e3-436d1c729115_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption"><a href="/catalog/ss:1791252">Martha Van Rensselaer Portrait</a></p>
			<a href="/catalog/ss:51481">
				<%= image_tag "http://stor.artstor.org/stor/fba3e483-d4c3-43e6-82fc-294b5d5533dd_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption">
				<a href="/catalog/ss:51481">Edward Bradfield Titchener Portrait</a>
			</p>
			<a href="/catalog/ss:54102">
				<%= image_tag "http://stor.artstor.org/stor/e6a5058d-0310-4ba4-a931-dc2b4dc3d00a_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption">
				<a href="/catalog/ss:54102">A.D. White Russian Bell</a>
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Cornell University has a wealth of campus artifacts and art waiting for you to discover. This digital collection includes a selection of the <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia">plaques, pictures, sculptures and other objects of artistic and historical interest</a> that can be found across Cornell’s Ithaca campus.</p>

			<p>The Campus Artifacts, Art and Memorabilia Collection is based on the work <a href="https://newcatalog.library.cornell.edu/catalog/1574015">Contributions to Cornell History: Portraits and Memorabilia</a> by Elizabeth Baker Wells (Olin Ref LD 1371.WD 45). Originally published in 1984, along with a 1990 addendum, it is an invaluable record of the University’s historical and artistic artifacts.</p>

			<p>With funding from a 2010 <a href="https://dcaps.library.cornell.edu/grants/as">Arts and Sciences Grant for Digital Collections</a> awarded to Howard C. Howland, Professor Emeritus, Neurobiology and Behavior, both works were digitized and OCR (optical character recognition) was performed. They are available as <a href="https://ecommons.cornell.edu/handle/1813/23441">searchable PDFs in eCommons</a>, Cornell’s institutional repository. The utility of the original book and supplement have been greatly enhanced by the provision of photographs of a selection of still-extant artifacts, taken by Professor Howland and collaborators from the <a href="https://www.emeritus.cornell.edu/">Cornell Association of Professors Emeriti (CAPE)</a> and the <a href="https://www.library.cornell.edu">Cornell University Library</a>.</p>

			<p>Cornell’s memorabilia are the solid artifacts of its history, and essential parts of it. Consider the lines from Whittier’s poem, “Barclay of Ury” above the lintel of the main entrance of Warren Hall, and cataloged in the Wells’ book:</p>

			<blockquote>
				Knowing this, that never yet<br>
			    Share of Truth was vainly set<br>
			    In the world's wide fallow;<br>
			    After hands shall sow the seed,<br>
			    After hands from hill and mead<br>
			    Reap the harvests yellow.
			</blockquote>  

			<p>Wells tells us that the person responsible for putting these lines there is unknown. However, that it was possible it to inscribe the lines of a deeply religious poem of a Quaker poet on a State building, tells us much about the religious climate of the university a hundred years ago.</p>

			<p>As the university campus continues to change and grow, Elizabeth Baker Wells’ catalog of campus artifacts stands as an invaluable record of Cornell’s long traditions, lore, and history.</p>


			<h3>Contact</h3>

			<p>For questions or further information, please contact the Cornell Association of Professors Emeritus at <a href="mailto:cape@cornell.edu">cape@cornell.edu</a>.</p>

			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>