<% content_for :page_title, 'Campus Artifacts, Art & Memorabilia' %>
<div class="container">
	<h2>Campus Artifacts, Art &amp; Memorabilia</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Campus Artifacts, Art & Memorabilia"}  %>
			</div>
			<a href="/catalog/ss:1791252">
				<%= image_tag "http://stor.artstor.org/stor/95771aaf-1449-4252-a1e3-436d1c729115_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption"><a href="/catalog/ss:1791252">Martha Van Rensselaer Portrait</a></p>
			<a href="/catalog/ss:51481">
				<%= image_tag "http://stor.artstor.org/stor/fba3e483-d4c3-43e6-82fc-294b5d5533dd_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption">
				<a href="/catalog/ss:51481">Edward Bradfield Titchener Portrait</a>
			</p>
			<a href="/catalog/ss:54102">
				<%= image_tag "http://stor.artstor.org/stor/e6a5058d-0310-4ba4-a931-dc2b4dc3d00a_size3" , alt: "", class: "img-thumbnail img-responsive" %>
			</a>
			<p class="caption">
				<a href="/catalog/ss:54102">A.D. White Russian Bell</a>
			</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Cornell University has a wealth of campus artifacts and art waiting for you to discover. This collection will eventually include approximately 2,000 plaques, pictures, sculptures and other objects of artistic and historical interest located on the Ithaca, NY, Cornell campus.

			<p>We invite you to <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia">browse the collection online</a>.  You can even plan your individualized live campus tour based on items of interest.</p>

			<h3>About the project</h3>
			<p>The existence of a publicly available catalog of Cornell's memorabilia is the first essential step to their preservation.</p>
			<p>Campus Artifacts and Art is based on the work “<a href="https://newcatalog.library.cornell.edu/catalog/1574015">Contributions to Cornell history: Portraits and Memorabilia</a>” by Elizabeth Baker Wells (Olin Ref LD 1371.WD 45). Originally published in 1984, along with a 1990 addendum. It is an invaluable record of the University’s historical and artistic artifacts. <a href="https://ecommons.cornell.edu/handle/1813/23441/browse?type=title&submit_browse=Title">Titles are available as PDFs from eCommons</a>, Cornell’s institutional repository.</p>
			<p>Cornell Campus Artifacts and Art will eventually include approximately 2000 plaques, pictures, sculptures, and other objects of artistic and historical interest located on the Cornell campus. The original books were digitized and OCR (optical character recognition) was performed, with text transformed to a data file. The utility of the original book and supplement will be greatly enhanced by the provision of pictures of the still-extant artifacts that are listed in them, as well as provide a photographic record of new artifacts, and a listing of artifacts that may have been lost between the time of first publication and the new edition listing present artifacts.</p>
			<p>Because the project will be in digital form available on the web, it will now be possible to provide a browse and search engine that will enable one to locate pictures and descriptions of the artifacts by object type and campus location.</p>
			<p>Cornell’s memorabilia are the solid artifacts of its history, and essential parts of it. Consider the lines from Whittier’s poem, “Barclay of Ury” above the lintel of the main entrance of Warren Hall, and cataloged in the Wells’ book:</p>
			<blockquote>
				Knowing this, that never yet<br>
				Share of Truth was vainly set<br>
				In the world's wide fallow;<br>
				After hands shall sow the seed,<br>
				After hands from hill and mead<br>
				Reap the harvests yellow.
			</blockquote>
			<p>Wells tells us that the person responsible for putting these lines there is unknown. However, that it was possible it to inscribe the lines of a deeply religious poem of a Quaker poet on a State building, tells us much about the religious climate of the university a hundred years ago.</p>
			<p>The catalog of memorabilia will be a significant addition to the digital archives of the University.</p>
			<h3>Participate in the project</h3>
			<p>We welcome volunteers who can help us with the project. We are always interested in finding objects that have been lost, overlooked, or newly created, and we welcome letters, e-mails or phone calls regarding memorabilia that are not yet in our online inventory. <a href="#contact">Contact us</a> if you would like to participate in this project.<p>
			<p>We can also use help in cataloging the memorabilia that we know about. We are currently working to enter in our <a href="/?f%5Bcollection_tesim%5D%5B%5D=Campus+Artifacts%2C+Art+%26+Memorabilia">online inventory website</a> all of the items we can find in Mary Baker Wells’ books, and we have a long way to go. Our project workflow requires a number of steps. Including:</p>
			<ul>
				<li>Finding, photographing and describing the object.</li>
				<li>Checking it against the website to see if has already been entered, and checking it against Wells’ books on memorabilia* to see if we can include her reference in the description.</li>
				<li>Entering object information into the online inventory website.</li>
			</ul>
			<p>We seek volunteer to assist with any of these operations. Interested parties who believe they can donate several consecutive hours at a time to the project should contact Professor Howland or Ms. Cynthia Robinson.</p>
			<p><em>*Contributions to Cornell History: Portraits Memorabilia, Plaques and Artists, <a href="http://hdl.handle.net/1813/28282">Revised 1984</a> and <a href="http://hdl.handle.net/1813/28283">Addendum 1990</a></em></p>
			<h3 id="contact">Contact</h3>
			<p>The person currently in charge of the project is Professor Emeritus, Howard Howland,  who welcomes inquiries about the project.</p>
			<address>
				<strong>Howard Howland</strong><br>				
				W-201 Mudd Hall 215 Tower Road<br>
				(607) 255-4716<br>
				hch2@cornell.edu.
			</address>
			<p>The Project is under the aegis of the Cornell Association of Professors Emeritus, and the administrator there is Cynthia Robinson.</p>
			<address>
				<strong>Cynthia Robinson</strong><br>
				Office 229 Day Hall<br>
				(607) 255-6608<br>
				car6@cornell.edu
			</address>
			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>