<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="collection-banner hidden-xs">
	<div class="container">
		<a href="/catalog/ss:22536136"><%= image_tag "collections/seneca/22536136-banner.jpg" , alt: "Top of Large Outdoor Firepit (Feature 5) at the Townley-Read Site Before Excavation
", class: "img-responsive", title: "Top of Large Outdoor Firepit (Feature 5) at the Townley-Read Site Before Excavation" %></a>
	</div>
</div>

<div class="container seneca-layout">
	<div class="well">
		<h3 class="statement">A note about this collection</h3>
		<p>This digital collection is a collaboration between archaeologists and librarians at Cornell University and Onöndowa'ga:' (Seneca) partners, including staff at the Seneca-Iroquois National Museum and the Seneca Art and Culture Center.  The structure and content of the website were designed in collaboration with Onöndowa'ga:' partners. No sacred materials are included; everything shown was recovered from domestic portions of Onöndowa'ga:' archaeological sites.</p>
		<p>The group involved in the production of this website has decided to publish it online earlier than planned due to the COVID-19 pandemic. The original intention was to include Onöndowa'ga:' language content, and to feature the perspectives of both archaeologists and Onöndowa'ga:' community members.  The language and community components are both still in progress, but we have decided that it is worth releasing the website before these parts are ready due to the pressing need for remote content in this time of social distancing.</p>
		<p>We welcome Onöndowa'ga:' community input, which can be submitted using the “Send Us Feedback” buttons located at the bottom of each page. Your feedback will contribute to future versions of the digital collection.</p>
	</div>
	<h3>Introduction</h3>
	<p>This digital collection presents materials recovered from two archaeological sites consecutively occupied by members of the Onöndowa'ga:' (Seneca) Nation of the Haudenosaunee (Six Nations Iroquois) Confederacy.  The <a href="/collections/seneca/white-springs">White Springs</a> site, occupied circa 1688–1715, and the <a href="/collections/seneca/townley-read">Townley-Read</a> site, occupied circa 1715–1754, are both located near the north end of Seneca Lake, in present-day Ontario County, New York. This online platform provides information on archaeological materials from a poorly-understood era to researchers in Anthropology, History, and American Indian and Indigenous Studies; serves as a resource for education on the indigenous history of New York; and, most importantly, provides a means for Onöndowa'ga:' descendant communities to access and explore their heritage.</p>

	<p>Starting in about 1670, the main eastern Onöndowa'ga:' town was located at the <a href="http://ganondagan.org/">Ganondagan</a> site near Victor, New York. Ganondagan is currently a New York State historic site and the location of the <a href="http://ganondagan.org/sacc">Seneca Art and Culture Center</a>. Ganondagan was burned in 1687 as the result of a French military invasion led by the Marquis de Denonville. The community was forced to move to the southeast to the White Springs site, where a new town was set up. Longhouses at the White Springs site were tightly clustered together, and the site was probably fortified. In about 1715, the residents of White Springs moved a short distance to the southwest and constructed at least six separate neighborhoods. Houses in these neighborhoods were smaller, and were built in a line along watercourses and spaced 65–90 yards (60–80 meters) apart. The Townley-Read site was one of these neighborhoods, and Onöndowa'ga:' people lived there until about 1754.</p>

	<p>Ganondagan, White Springs, and Townley-Read were all occupied by members of the same Onöndowa'ga:' community. Archaeological evidence, associated documents from the period written by Europeans, historic maps, and Onöndowa'ga:' oral tradition demonstrate that daily life was quite different at each one of these sites, meaning that the same Onöndowa'ga:' individuals (who would have lived in two or three of these locations) engaged in very different sorts of practices over the courses of their lives.</p>

	<p>The information in this website has a nested structure: viewers can explore content by site, selecting either the earlier <a href="/collections/seneca/white-springs">White Springs</a> site or the later <a href="/collections/seneca/townley-read">Townley-Read</a> site. The website highlights particular spaces within each archaeological site, including two longhouses, a large outdoor fire pit, and a possible fortification area at the White Springs site, and a short longhouse, large outdoor fire pit, and trash deposit area at Townley-Read.  For each of these areas, viewers can look at artifacts; plant remains; animal remains; or maps, diagrams and excavation photos.  It is also possible to use search terms to look at artifacts, plant remains, and animal remains across areas of one site (or across both sites), or to look at particular classes of material (such as brass items, marine shell ornaments, or gunflints) or manufacturing debris to see what kinds of labor Onöndowa'ga:' people were doing in particular areas within the White Springs and Townley-Read sites.</p>

	<p>- Kurt A. Jordan and Dusti C. Bridges, archaeologists</p>
	<div class="well">
		<p><strong>Click on a site name to begin exploring the website.</strong></p>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-6">
				<a href="/collections/seneca/white-springs"><%= image_tag "collections/seneca/white-springs.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>White Springs</h3>
				</a>
			</div>
			<div class="image col-sm-6">
				<a href="/collections/seneca/townley-read"><%= image_tag "collections/seneca/townley-read.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Townley-Read</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>