<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3>Townley-Read</h3>
	<p>The Townley-Read site was an Onöndowa'ga:' (Seneca) village occupied from approximately 1715 to 1754. The site is located inland from the north end of Seneca Lake in present-day Ontario County, New York.</p>

	<p>In about 1715, residents of the tightly-clustered and probably fortified <a href="/collections/white-springs">White Springs</a> site moved a short distance to the southwest.  This relocation was prompted both by increasingly peaceful political conditions in the region and also diminishing resources, particularly firewood, in the local area around White Springs. At this time, eastern Onöndowa'ga:' people dramatically altered their community form. In the place of a single, nucleated town, residents constructed a segmented community broken up into at least six discrete neighborhoods, which archaeologists call the New Ganechstage Site Complex. The Townley-Read site was one of these neighborhoods. Even the largest of these neighborhoods likely contained only 150–200 people (Jordan 2008a, 178), a significant difference from preceding nucleated sites like Ganondagan and White Springs which held 1,700 to 2,000 people.</p>

	<p>Based on the excavations at the Townley-Read neighborhood, Onöndowa'ga:' houses at this time were built in a line along watercourses and spaced 65–90 yards (60–80 meters) apart. This brand new spatial configuration—unprecedented in the Onöndowa'ga:' archaeological record—was used during a sustained period of regional peace. The dispersal of Onöndowa'ga:' people across the landscape was advantageous in a number of ways. It lessened daily labor demands on both women and men, principally by decreasing the required daily foot travel versus what was needed to do everyday tasks in a nucleated town. Houses were set close to fields and water sources, and outdoor spaces were used as work areas and infields. This new arrangement created a mosaic of woods, disused farm fields, and cleared locations produced by agriculture, wood procurement, and the other everyday practices of Onöndowa'ga:' people.</p>

	<p>The Townley-Read project was instigated by archaeologist Kurt A. Jordan as part of his doctoral dissertation work at Columbia University, supervised by Prof. Nan Rothschild. The project intended to collect domestic-context archaeological data to judge which of the widely different scholarly interpretations of eighteenth-century Haudenosaunee political, economic, and cultural life was most accurate. At the time, many non-Native scholars assumed that the smaller, widely-spaced houses seen at sites like Townley-Read reflected either Onöndowa'ga:' cultural disintegration, adoption of European-style lifeways, or both. Jordan’s final interpretation was that the new structure of the Onöndowa'ga:' community was an opportunistic innovation that improved the daily lives of Onöndowa'ga:' people.</p>
	   
	<p>Onöndowa'ga:' cultural leader G. Peter Jemison (then Chair of the Haudenosaunee Standing Committee on Burial Rules and Regulations, the group tasked by the Haudenosaunee Confederacy to deal with archaeologists and mainstream museums) reviewed and commented on the project’s field practices.  Field practices were altered collaboratively to meet his concerns, including that no excavations or artifact collection was to take place until an area was determined to be a residential (and not sacred) space, an emphasis on non-intrusive methods, and minimal excavation of the site (as opposed to full excavation of the entire site).</p>

	<p>Fieldwork sponsored by Columbia University took place in 1998 and 1999, and excavations continued under the auspices of Hobart and William Smith Colleges in 2000.  Jordan published a book on the excavations, titled <a href="https://newcatalog.library.cornell.edu/catalog/6380252"><em>The Seneca Restoration, 1715–1754</em></a> (Gainesville: University Press of Florida) in 2008. The artifact assemblages from the Townley-Read excavations will be transferred to the <a href="https://www.senecamuseum.org/Default.aspx">Seneca-Iroquois National Museum</a in Salamanca, New York, for permanent curation at the conclusion of cataloging and analysis.</p>

	<p>We have highlighted three areas within the Townley-Read site for this website: an Onöndowa'ga:' “short longhouse” living area, a large outdoor firepit, and a trash deposit area. You can click on one of the photos below to explore what was recovered from one of these areas at the site. The “General Site Finds” box contains information about the site as a whole, and examples of interesting finds that were not duplicated within the highlighted areas.</p>

	<p>- Kurt A. Jordan and Peregrine A. Gerard-Little, archaeologists</p>


	<div class="well">
		<h4>Highlighted areas from Townley-Read</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-3">
				<a href="/collections/seneca/townley-read/large-outdoor-firepit"><%= image_tag "collections/seneca/townley-read/22376823.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Large Outdoor Firepit</h3>
				</a>
			</div>
			<div class="image col-sm-3">
				<a href="/collections/seneca/townley-read/house1"><%= image_tag "collections/seneca/townley-read/22376793.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>House 1</h3>
				</a>
			</div>
			<div class="image col-sm-3">
				<a href="/collections/seneca/townley-read/trash-deposit-area"><%= image_tag "collections/seneca/townley-read/22376875.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Trash Deposit Area</h3>
				</a>
			</div>
			<div class="image col-sm-3">
				<a href="/collections/seneca/townley-read/general-site-finds"><%= image_tag "collections/seneca/townley-read/22376865.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>General Site Finds</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>