<% content_for :page_title, 'White Springs - Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3>White Springs</h3>
	<p>White Springs was an Onöndowa'ga:' (Seneca) town site occupied from approximately 1688 to 1715. The site is located near the north end of Seneca Lake, in present-day Ontario County, New York. The White Springs Project was initiated by researchers from <a href="http://www.cornell.edu">Cornell University</a> and <a href="http://www.ithaca.edu">Ithaca College</a> and Onöndowa'ga:' partners in 2007 to use domestic-context archaeology to examine the local consequences of turbulent times. Research focused on the impact of warfare and challenging political-economic conditions on Onöndowa'ga:' community structure, house forms, and material practices.</p>

	<p>Documents and artifactual evidence suggest that White Springs was founded by forced relocation after a French-led invasion in 1687 resulted in the burning of all four of the major Onöndowa'ga:' homeland settlements, including <a href="http://ganondagan.org/">Ganondagan</a>, White Springs’ direct predecessor and currently a New York State historic site. Warfare between the Haudenosaunee, European colonists, and other Native groups continued during the first decade at White Springs. Major peace treaties negotiated in 1700–1701 improved the situation, but sporadic violence continued into the eighteenth century.</p>

	<p>Cornell-sponsored fieldwork took place at White Springs between 2007 and 2015.  It consisted of shovel-test, test unit, and trench excavations, and surface investigation in plowed portions of the site.  Ithaca College researchers conducted a multi-instrument, high-resolution archaeogeophysical survey of an area of over 12.4 acres (5 hectares) in and around the site. The results of this research suggest that the site was a densely-occupied, nucleated Onöndowa'ga:' town of about 8.4 acres (3.4 hectares) in size. A site of this size likely housed 1,700–2,000 people and may have contained approximately 68–100 longhouses. The project recovered a section of what appears to be a fortification wall, composed of the remnant bases of wooden posts (postmolds).  We also uncovered sections of what appear to be four separate Onöndowa'ga:' houses and three large outdoor firepits. The site yielded a rich assemblage of artifacts, animal bones, and plant remains.</p>

	<p>By about 1715, Onöndowa'ga:' people living at the White Springs site decided it was time to move the community.  White Springs residents had known from the outset that their time at the site would be temporary.  The large community of 1,700–2,000 people at White Springs stressed local resources, particularly firewood supplies.  There may also have been concerns with pest infestation and waste buildup. The estimated 27-year occupation span for White Springs is actually on the long side for a community of that size, and Onöndowa'ga:' people may have stayed at the site longer than they wanted to due to dangerous conditions in the region.  White Springs residents moved a short distance to the southeast where they constructed at least six separate neighborhoods (including the <a href="/collections/seneca/townley-read">Townley-Read</a> site) and spread their houses out along creek beds.</p>

	<p>Fieldwork at the White Springs site was conducted in collaboration with representatives of the Onöndowa'ga:' descendant community.  The project was initiated based on Onöndowa'ga:' interest in “life after Ganondagan” since the community did not have much information about everyday conditions following the 1687 French invasion. Onöndowa'ga:' people also reviewed the Project’s field methods and opted for a minimally invasive approach; the project excavated less than one percent of the domestic area of the site.</p>

	<p>Cornell University’s American Indian Program (now the <a href="https://aiisp.cornell.edu/">American Indian and Indigenous Studies Program</a>) provided full-tuition scholarships for Native students to attend the White Springs excavations with the goal of building archaeological capacity among Indigenous communities. To date, nine undergraduate and nine post-graduate students have received support. The collaborative nature of the project will extend beyond fieldwork to analysis and writing. Results from the White Springs project will be published as a multi-author, multivocal book that will include the perspectives of Indigenous academics, Onöndowa'ga:' community authorities, and archaeological specialists. The artifact assemblages from the Cornell excavations at White Springs will be transferred to the <a href="https://www.senecamuseum.org/Default.aspx">Seneca-Iroquois National Museum</a> in Salamanca, New York, for permanent curation following cataloging and analysis.</p>

	<p>Cornell fieldwork at the site concluded in 2015.  The project is currently in the process of cataloging, analyzing, and writing up an account of the artifacts, animal and plant remains, and spatial information recovered from the site. This website presents tentative interpretations of our ongoing work.</p>

	<p>We have highlighted four areas within the White Springs site for this website: two Onöndowa'ga:' house areas, one large outdoor firepit, and the possible fortification area. You can click on one of the photos below to explore what was recovered from one of these areas at the site. The “General Site Finds” box contains information about the site as a whole, and examples of interesting finds that were not duplicated within the highlighted areas.</p>

	<p>- Kurt A. Jordan and Peregrine A. Gerard-Little, archaeologists</p>

	<div class="well">
		<h4>Highlighted areas from White Springs</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/collections/seneca/white-springs/house3"><%= image_tag "collections/seneca/white-springs/22568609.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>House 3</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/collections/seneca/white-springs/house4"><%= image_tag "collections/seneca/white-springs/22568635.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>House 4</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/collections/seneca/white-springs/fortification-area"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Possible Fortification Area</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/collections/seneca/white-springs/outdoor-pit-feature"><%= image_tag "collections/seneca/white-springs/22377126.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Outdoor Pit Feature</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/collections/seneca/white-springs/general-site-finds"><%= image_tag "collections/seneca/white-springs/22376933.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>General Site Finds</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>