<h1>Image Credits</h1>
<div class="row">
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/144e6e8c-e8e4-4368-beb7-489e0d997048_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:3322102">Effect of glacial stream from Spencer Glacier</a><br>
			Historic Glacial Images of Alaska and Greenland</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/4422693e-ed99-488d-bee2-9666ed57a02a_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:234967">Gold Coin</a><br>
			Cornell Coins Collection</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/af262833-2641-4edd-99b3-7bca8d5511ab_size3", alt: "", class: "img-responsive" %>
		<p><a href="https://digital.library.cornell.edu/catalog/ss:3874437">Frederick C. Robie House, University of Chicago</a><br>
			Andrew Dickson White Architectural Photographs Collection</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/aeb71b71-c62d-46bf-ad3e-f123f11026ad_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:3859131">Cattle Fair</a><br>
			Beyond the Taj: Architectural Traditions and Landscape Experience in South Asia</p>
	</div>
</div>
<div class="row">
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/7c5941b4-8f5a-431b-a45d-2b8f7ca83505_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:159023">Landscape panel for the cafeteria</a><br>
			Alison Mason Kingsbury</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/65c8facc-67a5-4977-9b36-bfebbc9bc93b_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:713057">George Lincoln Burr Caricature</a><br>
			Campus Artifacts and Art</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/c213fc4f-b050-403e-a269-cf97993c40d5_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:269084">Lunch under Hlíðarendi</a><br>
			Icelandic and Faroese Photographs of Frederick W.W. Howell</p>
	</div>
	<div class="image-credit">
		<%= image_tag "http://stor.artstor.org/stor/76d2bb98-7954-46c8-8827-2ab4521c43b6_size3", alt: "", class: "img-responsive" %>
		<p><a href="/catalog/ss:3293964">Trip Planning Map of the U.S.</a><br>
			Persuasive Maps: PJ Mode Collection</p>
	</div>
</div>