<%= content_for :page_title, 'Image Credits' %>
<div class="container">
	<h1>Image Credits</h1>
	<div class="row">
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/080698ab-eced-4c31-9ebd-b95466c358c4_size3", alt: "", class: "img-responsive" %>
			<p>Histioteuthis bonnellii<br>
				Cornell Collection of Blaschka Invertebrate Models<br>
				SSID: 20108189</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/21105119-e636-4dee-a88f-7f1741a6b666_size3", alt: "", class: "img-responsive" %>
			<p>Dusky Duck.: Anas obscura.<br>
				Hill Ornithology Collection<br>
				SSID: 3871580</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/62a85384-a766-46fc-8421-9152902042d6_size3", alt: "", class: "img-responsive" %>
			<p>Norræna húsið / Nordic House<br>
				John Clair Miller Image Collection of Twentieth-Century Architecture in Iceland<br>
				SS: 18860207</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/a3ab24f3-ab60-4a3f-b610-259e6e81dfa5_size3", alt: "", class: "img-responsive" %>
			<p>Plan 125<br>
				Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin<br>
				SSID: 19102651</p>
		</div>
	</div>
	<div class="row">
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/55f246ab-0530-41a8-827b-2c6034aabb3f_size3", alt: "", class: "img-responsive" %>
			<p>Wolfe Expedition<br>
				The J. R. Sitlington Sterrett Collection of Archaeological Photographs<br>
				SSID: 12513364</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/53b562af-d5f1-4c46-93f9-1588db114ccc_size3", alt: "", class: "img-responsive" %>
			<p>Panorama of Vicos, Ancash Province, Peru with Mt. Huascaran in the background<br>
				Vicos Collection<br>
				SSID: 321762
			</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/304a7181-7ef2-47f5-8d10-e6ef5ff3a569_size3", alt: "", class: "img-responsive" %>
			<p>[Line of children (orphans?) with American and Korean flags]<br>
				Willard D. Straight in Korea<br>
				SSID: 319643
			</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/918dcbca-68cc-4303-a432-b14858ba5f52_size3", alt: "", class: "img-responsive" %>
			<p>Painted tapa cloth<br>
				Selections from the Cornell Anthropology Collections<br>
				SSID: 2620424
			</p>
		</div>
	</div>
	<div class="row">
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/29d875ae-3963-4965-920b-e3856b20fb0b_size3", alt: "", class: "img-responsive" %>
			<p>Pictura totius Galliae, divisae in partes tres. . .[Map of Gaul] (from Caesar, Works)<br>
				Images from the Rare Book and Manuscript Collections<br>
				SSID: 11177525
			</p>
		</div>
	</div>
</div>