<%= content_for :page_title, 'Image Credits' %>
<div class="container">
	<h1>Image Credits</h1>
	<div class="row">
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/7c5941b4-8f5a-431b-a45d-2b8f7ca83505_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:159023">Landscape panel for the cafeteria</a><br>
				Alison Mason Kingsbury</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/5f3fef38-7b7e-4082-9313-ef9d65af8c3f_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:298015">Huanca Sancos herranza</a><br>
				Billie Jean Isbell Andean Collection</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/4422693e-ed99-488d-bee2-9666ed57a02a_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:234967">Gold Coin</a><br>
				Cornell Coin Collection</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/144e6e8c-e8e4-4368-beb7-489e0d997048_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:3322102">Effect of glacial stream from Spencer Glacier</a><br>
				Historic Glacial Images of Alaska and Greenland</p>
		</div>
	</div>
	<div class="row">
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/7f4ca622-f734-46d6-aa5a-873020bd9f43_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:3240849">Berkeley Art Center Design Competition 02, Section/Elevations</a><br>
				John Clair Miller</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/14038f36-6c19-4fc0-a258-0067e55601bb_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:1502976">Acluster of row houses with more residential buildings in the background (The Hague, NL)</a><br>
				John Reps Collection - Slides
			</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/ea791324-f90d-4330-91f0-35eb46a0b5ba_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:17017293">Berkeley Square, 1981 April 24</a><br>
				Punk Flyers
			</p>
		</div>
		<div class="image-credit">
			<%= image_tag "http://stor.artstor.org/stor/7fab8ac3-520f-4e59-983b-eb723d4c9c60_size3", alt: "", class: "img-responsive" %>
			<p><a href="https://digital.library.cornell.edu/catalog/ss:172897">Anthemion with Greek inscription, List of Athenian casualties in the Corinthian War, 394/3 BCE</a><br>
				Cornell Cast Collection
			</p>
		</div>
	</div>
</div>