<div class="home-text">
  <div class="well">
    <h1><%= t('blacklight.welcome') %></h1>
    <p>We're transitioning to a new, more integrated search platform for our digital collections. In the meantime you can search this site, or <a href="http://newcatalog.library.cornell.edu/digitalcollections">view a complete list of our digital collections</a>.</p>
  </div>
  <h2>Recently added</h2>
  <div class="featured-collections">
    <div class="row">
      <div class="featured">
        <a href="/?f%5Bcollection_tesim%5D%5B%5D=Alfred+Montalvo+Bolivian+Digital+Pamphlets+Collection">
          <%= image_tag "sets/bolivian/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/?f%5Bcollection_tesim%5D%5B%5D=Alfred+Montalvo+Bolivian+Digital+Pamphlets+Collection">Alfredo Montalvo Bolivian Digital Pamphlets Collection</a></h3>
      </div>
      <div class="featured">
        <a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection">
          <%= image_tag "sets/huntington/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection">Huntington Free Library Native American Collection</a></h3>
      </div>
      <div class="featured">
        <a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">
          <%= image_tag "sets/indonesianmusic/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/?f%5Bcollection_tesim%5D%5B%5D=Indonesian+Music+Archive">Indonesian Music Archive</a></h3>
      </div>
      <div class="featured">
        <a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings">
          <%= image_tag "sets/ragamala/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/?f%5Bcollection_tesim%5D%5B%5D=Ragamala+Paintings">Ragamala Paintings</a></h3>
      </div>
    </div>
  </div>
</div>