<div class="hero">
  <div class="container home-text">
    <div class="home-search">
      <div class="row">
        <div class="col-sm-8">
          <%= render_search_bar  %>
        </div>
        <div class="col-sm-4 home-browse">
          or <a href="/collections">browse collections<i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
        <div class="well">
          <h1><%= t('blacklight.welcome') %></h1>
          <p>We're transitioning to a new, more integrated search platform for our digital collections. In the meantime you can search this site, or <a href="http://newcatalog.library.cornell.edu/digitalcollections">view a complete list of our digital collections</a>.</p>
          <p>Your feedback is valuable to us. Please <a href="/contact">contact us</a> and let us know what you think of this site, or <a href="https://cornell.qualtrics.com/SE/?SID=SV_6xJYx0iSrV5pDE1" target="_blank">take a brief survey</a>.</p>
        </div>
        <a class="image-credits" href="/image-credits">Image credits</a>
      </div>
    </div>
  </div>
</div>
<div class="container featured-collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/obama" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'ObamaThumbnail']);">
        <%= image_tag "thumbs/7948080.jpg" , alt: "Obama Visual Iconography", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/obama" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'ObamaLink']);">Obama Visual Iconography</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/cast" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'CastThumbnail']);">
        <%= image_tag "thumbs/8946675.jpg" , alt: "Cornell Cast Collection", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/cast" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'CastLink']);">Cornell Cast Collection</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/punkflyers" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'PunkThumbnail']);">
        <%= image_tag "thumbs/punkflyers.jpg" , alt: "Punk Flyers", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/punkflyers" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'PunkLink']);">Punk Flyers</a></h3>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() { 
  var randomImages = ['jcm','reps-slides','amk','isbell','coins','tarr']; 
  var rndNum = Math.floor(Math.random() * randomImages.length); 
  jQuery(".hero").css({ background: "url('/hero/" + randomImages[rndNum] + ".jpg') no-repeat" }); });
</script>