<div class="home-text">
  <div class="well">
    <h1><%= t('blacklight.welcome') %></h1>
    <p>We're transitioning to a new, more integrated search platform for our digital collections. In the meantime you can search this site, or <a href="http://newcatalog.library.cornell.edu/digitalcollections">view a complete list of our digital collections</a>.</p>
    <p>Your feedback is valuable to us as we continue to develop this resource. Please <a href="/contact">contact us</a> and let us know what you think of this site, or <a href="https://cornell.qualtrics.com/SE/?SID=SV_6xJYx0iSrV5pDE1" target="_blank">take a brief survey</a>.</p>
  </div>
  <h2>Recently added</h2>
  <div class="featured-collections">
    <div class="row">
      <div class="featured">
        <a href="/collection/hiphopflyers" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'FlyersThumbnail']);">
          <%= image_tag "sets/hiphopflyers/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/collection/hiphopflyers" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'FlyersLink']);">Hip Hop Party and Event Flyers</a></h3>
      </div>
      <div class="featured">
        <a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'HFLThumbnail']);">
          <%= image_tag "sets/huntington/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/?f%5Bcollection_tesim%5D%5B%5D=Huntington+Free+Library+Native+American+Collection" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'HFLLink']);">Huntington Free Library Native American Collection</a></h3>
      </div>
      <div class="featured">
        <a href="/collection/bastides" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'BastidesThumbnail']);">
          <%= image_tag "sets/reps-bastides/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/collection/bastides" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'BastidesLink']);">John Reps Collection - Bastides</a></h3>
      </div>
      <div class="featured">
        <a href="/collection/persuasivemaps" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'PersuasiveMapsThumbnail']);">
          <%= image_tag "sets/persuasivemaps/thumb.jpg" , alt: "", class: "img-responsive img-thumbnail" %>
        </a>
        <h3><a href="/collection/persuasivemaps" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'PersuasiveMapsLink']);">Persuasive Maps: PJ Mode Collection</a></h3>
      </div>
    </div>
  </div>
</div>
