<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
    <div class="caption">
      	<%= render_document_partials document, blacklight_config.view_config(:gallery).partials, :document_counter => document_counter %>
      	<div class="blacklight-date"><%= render_index_field_value document, :field => 'date_tesim' %></div>
      	<% if !(render_index_field_value document, :field => 'latest_date_isi').nil? %>
      	 <div class="blacklight-pubdate"><%= render_index_field_value document, :field => 'latest_date_isi' %></div>
      	<% end %>
        <%= render 'blaschka_gallery_fields', :locals => {:document => document} %>
        <div class="blacklight-collection"><%= render_index_field_value document, :field => 'collection_tesim' %></div>
    </div>
  </div>
</div>
