<% #Using the Bootstrap Pagination class  -%>
<% #DEPRECATED - using id="previousNextDocument" as a selector is deprecated and will be removed in Blacklight 6.0 %>
<% @project = render_document_show_field_value(:document => @document, :field => 'project_id_ssi') %>
<% @kaltura = render_document_show_field_value(:document => @document, :field => 'kaltura_id_s') %>
<% @download_url = render_document_show_field_value(:document => @document, :field => 'media_URL_tesim') %>

<div id='previousNextDocument' class='pagination-search-widgets'>
	<% if current_search_session %>
    	<div class="search-widgets">
	      <%= link_back_to_catalog %> |

	      <%=link_to t('blacklight.search.start_over'), start_over_path(current_search_session.try(:query_params) || {}), id: 'startOverLink' %>
    	</div>
  	<% end %>
  	<% if @previous_document || @next_document %>
	    <div class="page_links">
	      <%= link_to_previous_document @previous_document %> |

	      <%= item_page_entry_info %> |

	      <%= link_to_next_document @next_document %>
	    </div>
  	<% end %>

  	<%= render_show_doc_actions @document do |config, inner| %>
	      <% if inner.include? "bookmark" %>
	        <div class="pull-right bookmark-toggle">
	        	<% if !@project.blank? && @kaltura.blank? %>
	        		<a href="<%= @download_url %>" class="download-link btn btn-xs btn-default" title="Download">Download<i class="fa fa-download"></i></a>
	        	<% end %>
	          <%= inner %>
	        </div>
	       <% end %>
	      <% end %>


</div>