<div class="container featured-collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/blaschka" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Blaschka']);">
        <%= image_tag "thumbs/9898441.jpg" , alt: "", class: "img-responsive" %>
      <h3>Cornell Collection of Blaschka Invertebrate Models</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/vicos" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Vicos']);">
        <%= image_tag "thumbs/6802783.jpg" , alt: "", class: "img-responsive" %>
      <h3>Vicos Collection</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/hill-ornithology" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Hill Ornithology']);">
        <%= image_tag "thumbs/5458505.jpg" , alt: "", class: "img-responsive" %>
      <h3>Hill Ornithology Collection</h3></a>
    </div>  
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/tell-en-nasbeh" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Digitizing Tell-en-Nasbeh']);">
        <%= image_tag "thumbs/tell-en-nasbeh.jpg" , alt: "", class: "img-responsive" %>
      <h3>Digitizing Tell en-Naṣbeh, Biblical Mizpah of Benjamin</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/jcm-iceland" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'JCM Iceland']);">
        <%= image_tag "thumbs/9770905.jpg" , alt: "", class: "img-responsive" %>
      <h3>John Clair Miller Image Collection of Twentieth-Century Architecture in Iceland</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/straight" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'RMCImages']);">
        <%= image_tag "thumbs/5861081.jpg" , alt: "", class: "img-responsive" %>
      <h3>Willard D. Straight in Korea</h3></a>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>