<div class="container featured-collections" role="main" aria-label="Recently added collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/rudin">
        <%= image_tag "thumbs/4613203.jpg" , alt: "Gail and Stephen Rudin Slavery Collection, 1728-1973", class: "img-responsive" %>
      <h3>Gail and Stephen Rudin Slavery Collection, 1728-1973</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/srilanka" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Depicting the Sri Lankan Vernacular']);">
        <%= image_tag "thumbs/srilanka.png" , alt: "", class: "img-responsive" %>
      <h3>Depicting the Sri Lankan Vernacular</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/iwo-jpfo" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'IWO-JPFO']);">
        <%= image_tag "thumbs/10361856.png" , alt: "", class: "img-responsive" %>
      <h3>International Workers’ Order (IWO) and Jewish People's Fraternal Order (JPFO)</h3></a>
    </div>
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/lindsaycooper" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Lindsay Cooper']);">
        <%= image_tag "thumbs/9769867.png" , alt: "", class: "img-responsive" %>
      <h3>Lindsay Cooper Digital Archive</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/art2301" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Art 2301']);">
        <%= image_tag "thumbs/10213747.jpg" , alt: "", class: "img-responsive" %>
      <h3>Art 2301 Printmaking Student Portfolios</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/karma" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'KARMA']);">
        <%= image_tag "thumbs/7929701.jpg" , alt: "", class: "img-responsive" %>
      <h3>Kroch Asia Rare Materials Archive</h3></a>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>