<div class="container featured-collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/straight" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'RMCImages']);">
        <%= image_tag "thumbs/5861081.jpg" , alt: "", class: "img-responsive" %>
      <h3>Willard D. Straight in Korea</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/rmc" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'RMCImages']);">
        <%= image_tag "thumbs/5862713.jpg" , alt: "", class: "img-responsive" %>
      <h3>Images from the Rare Book and Manuscript Collections</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/anthrocollections" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'Anthro']);">
        <%= image_tag "thumbs/8646075.jpg" , alt: "", class: "img-responsive" %>
      <h3>Selections from the Cornell Anthropology Collections</h3></a>
    </div>
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/indonesianmusic" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'Gamelan']);">
        <%= image_tag "thumbs/9918106.jpg" , alt: "", class: "img-responsive" %>
      <h3>Indonesian Music Archive</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/sterrett" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'Sterrett']);">
        <%= image_tag "thumbs/9861575.jpg" , alt: "", class: "img-responsive" %>
      <h3>The J. R. Sitlington Sterrett Collection of Archaeological Photographs</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/adler" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'Adler']);">
        <%= image_tag "thumbs/9894207.jpg" , alt: "", class: "img-responsive" %>
      <h3>Adler Hip Hop Archive</h3></a>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>