<div class="container featured-collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/art2301" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Art 2301']);">
        <%= image_tag "thumbs/10213747.jpg" , alt: "", class: "img-responsive" %>
      <h3>Art 2301 Printmaking Student Portfolios</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/karma" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'KARMA']);">
        <%= image_tag "thumbs/7929701.jpg" , alt: "", class: "img-responsive" %>
      <h3>Kroch Asia Rare Materials Archive</h3></a>
    </div>  
    <div class="featured">
      <a href="/collections/tamang" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Digital Tamang']);">
        <%= image_tag "thumbs/tamang.jpg" , alt: "", class: "img-responsive" %>
      <h3>Digital Tamang</h3></a>
    </div>
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/political-americana" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Political Americana']);">
        <%= image_tag "thumbs/5458453.jpg" , alt: "", class: "img-responsive" %>
      <h3>Political Americana</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/railroad" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Railroad']);">
        <%= image_tag "thumbs/8166035.jpg" , alt: "", class: "img-responsive" %>
      <h3>U.S. President's Railroad Commission Photographs</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/blaschka" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Blaschka']);">
        <%= image_tag "thumbs/9898441.jpg" , alt: "", class: "img-responsive" %>
      <h3>Cornell Collection of Blaschka Invertebrate Models</h3></a>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>