<div class="container featured-collections" role="main" aria-label="Recently added collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/kmoddl" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'KMODDL']);">
        <%= image_tag "thumbs/kmoddl.jpg" , alt: "", class: "img-responsive" %>
      <h3>Reuleaux Kinematic Mechanisms Collection</h3></a>
    </div> 
    <div class="featured">
      <a href="/collections/seneca" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Seneca']);">
        <%= image_tag "collections/seneca/townley-read/22376824.jpg" , alt: "", class: "img-responsive" %>
      <h3>Onöndowa'ga:' (Seneca) Haudenosaunee Archaeological Materials, circa 1688-1754</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/paniccioli" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Paniccioli']);">
        <%= image_tag "thumbs/13067268.jpg" , alt: "", class: "img-responsive" %>
      <h3>Ernie Paniccioli Photo Archive</h3></a>
    </div>  
    
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/japanesetheater" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Japanese Theater']);">
        <%= image_tag "thumbs/7927766.jpg" , alt: "", class: "img-responsive" %>
      <h3>Theatre Prints and Books from Early Modern Japan</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/japaneseworld" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Japanese World']);">
        <%= image_tag "thumbs/7927747.jpg" , alt: "", class: "img-responsive" %>
      <h3>Knowledge of the World in Early Modern Japan</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/flowers" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Language of Flowers']);">
        <%= image_tag "thumbs/flowers.jpg" , alt: "", class: "img-responsive" %>
      <h3>Language of Flowers</h3></a>
    </div>   
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <span class="fa fa-arrow-right" aria-hidden="true"></span></a></p>
</div>