<div class="container featured-collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/anthrocollections" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'AnthroThumbnail']);">
        <%= image_tag "thumbs/8646075.jpg" , alt: "Selections from the Cornell Anthropology Collections", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/anthrocollections" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'AnthroLink']);">Selections from the Cornell Anthropology Collections</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/indonesianmusic" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'GamelanThumbnail']);">
        <%= image_tag "thumbs/9918106.jpg" , alt: "Indonesian Music Archive", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/indonesianmusic" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'GamelanLink']);">Indonesian Music Archive</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/sterrett" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'SterrettThumbnail']);">
        <%= image_tag "thumbs/9861575.jpg" , alt: "The J. R. Sitlington Sterrett Collection of Archaeological Photographs", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/sterrett" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'SterrettLink']);">The J. R. Sitlington Sterrett Collection of Archaeological Photographs</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/adler" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'AdlerThumbnail']);">
        <%= image_tag "thumbs/9894207.jpg" , alt: "Adler Hip Hop Archive", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/adler" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'AdlerLink']);">Adler Hip Hop Archive</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/obama" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'ObamaThumbnail']);">
        <%= image_tag "thumbs/7948080.jpg" , alt: "Obama Visual Iconography", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/obama" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'ObamaLink']);">Obama Visual Iconography</a></h3>
    </div>
    <div class="featured">
      <a href="/collections/loewentheil" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'LoewentheilThumbnail']);">
        <%= image_tag "thumbs/7062654.jpg" , alt: "Loewentheil Collection of African-American Photographs", class: "img-responsive" %>
      </a>
      <h3><a href="/collections/loewentheil" onclick="javascript:_paq.push(['trackEvent', 'FeaturedCollection', 'LoewentheilLink']);">Loewentheil Collection of African-American Photographs</a></h3>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>