<div class="container featured-collections" role="main" aria-label="Recently added collections">
  <h2>Recently added</h2>
  <div class="row">
    <div class="featured">
      <a href="/collections/fallout" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Nuclear Fallout Pamphlets']);">
        <%= image_tag "thumbs/fallout.jpg" , alt: "", class: "img-responsive" %>
      <h3>Nuclear Fallout Pamphlets</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/afrika-bambaataa" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Bambaataa']);">
        <%= image_tag "thumbs/bambaataa.jpg" , alt: "", class: "img-responsive" %>
      <h3>Afrika Bambaataa Vinyl Collection</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/stereoscopes">
        <%= image_tag "thumbs/8926511.jpg" , alt: "Stereoscope Pictures From Iceland", class: "img-responsive" %>
      <h3>Stereoscope Pictures From Iceland</h3></a>
    </div>
     
  </div>
  <div class="row">
    <div class="featured">
      <a href="/collections/impersonator-postcards" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Impersonator Postcards']);">
        <%= image_tag "thumbs/24416062.jpg" , alt: "", class: "img-responsive" %>
      <h3>Postcards of female and male impersonators and cross-dressing in Europe and the United States, 1900-1931, 1955</h3></a>
    </div>   
    <div class="featured">
      <a href="/collections/joeconzo" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Conzo']);">
        <%= image_tag "thumbs/8002788.jpg" , alt: "", class: "img-responsive" %>
      <h3>Joe Conzo Jr. Archive</h3></a>
    </div>
    <div class="featured">
      <a href="/collections/bees" onclick="javascript:_paq.push(['Recently Added', 'FeaturedCollection', 'Hive and Honeybee']);">
        <%= image_tag "thumbs/5042155.jpg" , alt: "", class: "img-responsive" %>
      <h3>Hive and the Honeybee</h3></a>
    </div>
  </div>
  <p class="pull-right"><a href="/collections" class="btn btn-lg btn-portal">View all collections <i class="fa fa-arrow-right"></i></a></p>
</div>