<%# default partial to display solr document fields in catalog show view -%>

<%= render 'image_viewer' %>

<%# default partial to display solr document fields in catalog show view -%>
<%# default partial to display solr document fields in catalog show view -%>
<div class="col-md-3">
	<% if @collection_website.present? %>
		<div class="collection-website">
			<a href="<%= @collection_website %>"><i class="fa-li fa fa-desktop"></i>Collection website</a>
		</div>
	<% end %>
	<dl class="metadata">
	  <% document_show_fields(document).each do |field_name, field| -%>
	    <% if should_render_show_field? document, field %>
		    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
		    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
	    <% end -%>
	  <% end -%>
	</dl>
</div>