<%# default partial to display solr document fields in catalog show view -%>
<% @collection_website = render_document_show_field_value(:document => @document, :field => 'collection_website_ss') %>

<%= render 'viewer' %>

<%# default partial to display solr document fields in catalog show view -%>

<%# for images and audio - TODO: DRY this up if possible; repeating markup -%>
	<% if !@project.blank? && @kaltura.blank? || !@kaltura.blank? %>
	<div class="col-sm-8 item-info">
		<dl class="metadata dl-horizontal">
		  <% document_show_fields(document).each do |field_name, field| -%>
		    <% if should_render_show_field? document, field %>
			    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
			    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
		    <% end -%>
		  <% end -%>
		</dl>
	</div>
	<div class="col-sm-4 more-item-info">
		<div class="website-links well">
			<ul class="fa-ul">		
			<% if @collection_website.present? %>
				<li><i class="fa-li fa fa-desktop"></i><a href="<%= @collection_website %>">Collection website</a></li>
			<% end %>
				<li><i class="fa-li fa fa-external-link"></i><a href="#" class="ss-link">View collection in ARTstor/Shared Shelf Commons</a></li>
			</ul>
		</div>
		<%= render partial: 'catalog/show_maplet_default' %>
		</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
</div>

<%# for books -%>
<% else %>
	<div class="col-md-9 item-info">
		<dl class="metadata dl-horizontal">
		  <% document_show_fields(document).each do |field_name, field| -%>
		    <% if should_render_show_field? document, field %>
			    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
			    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
		    <% end -%>
		  <% end -%>
		</dl>
		<div class="more-item-info">
			<div class="website-links well">
				<ul class="fa-ul">		
				<% if @collection_website.present? %>
					<li><i class="fa-li fa fa-desktop"></i><a href="<%= @collection_website %>">Collection website</a></li>
				<% end %>
					<li><i class="fa-li fa fa-external-link"></i><a href="#" class="ss-link">View collection in ARTstor/Shared Shelf Commons</a></li>
				</ul>
			</div>
			<%= render partial: 'catalog/show_maplet_default' %>
			</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
		</div>
	</div>
<% end %>