<%# default partial to display solr document fields in catalog show view -%>

<%# show image %>
<% if render_document_show_field_value :document => document, :field => "Media_URL_s"  %>
	<% if !render_document_show_field_value(:document => document, :field => "Media_URL_s").blank?  %>
		<div class="document-image">
			<img id="zoom_01" class="img-responsive" src='<%= render_document_show_field_value :document => document, :field => "Media_URL_s" %>' /> 
			<script>
				$("#zoom_01").elevateZoom({ zoomType: "inner", cursor: "crosshair" });
			</script>
			<p class="text-muted text-center"><small>Mouse over image to zoom</small></p>
		</div>
	<%end%>
<% end %>

<%# show image %>
<% if document[:id] == '2877880' %>

		<div id="kaltura_player_1433416083" style="width: 560px; height: 80px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="player">
			<span itemprop="name" content="AFR_RL_5_AM_01_03"></span>
			<span itemprop="description" content=""></span>
			<span itemprop="duration" content="286"></span>
			<span itemprop="thumbnail" content="https://cdnsecakmi.kaltura.com/p/518251/sp/51825100/thumbnail/entry_id/<%= render_document_show_field_value :document => document, :field => "KalturaID_s" %>/version/0/acv/61"></span>
			<span itemprop="width" content="560"></span>
			<span itemprop="height" content="80"></span>
		</div>
		<script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/12903201/partner_id/518251?autoembed=true&entry_id=1_cppy0b87&playerId=kaltura_player_1433416083&cache_st=1433416083&width=560&height=80"></script>
<% end %>

<%# show fields except image and kaltura ID %>
<dl class="dl-horizontal  dl-invert">
  	<% document.each do |field_name, field| -%>
  		<% unless field_name == 'Media_URL_s' || field_name =='KalturaID_s' %>
	    	<dt class="blacklight-<%= field_name.parameterize %>"><%= field_name %></dt>
	    	<dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
	    <% end -%>
  <% end %>
</dl>