<% @page_number = render_document_show_field_value(:document => @document, :field => 'page_number_tesim') %>
<% @id = render_document_show_field_value(:document => @document, :field => 'id') %>


<% # bookmark/folder functions -%>
<% if document["title_tesim"].present? && document["translation_title_tesim"].present? %>
  	<h1>
    	<%= document["title_tesim"][0] %> / <%= document["translation_title_tesim"][0] %>
  	</h1>
<% elsif document["translation_title_tesim"].present? %>
	<h1>
	    <%= document["translation_title_tesim"][0] %>
	</h1>
<% elsif render_document_show_field_value(:document => @document, :field => 'has_model_ssim') == "Page" %>
	<%= render_document_heading(document, :tag => :h1) %>
	<% if !document["page_number_tesim"].blank? %>
		<div class="parent-link">
			    <span class="label label-default">Page <%= @page_number %></span>
			    <% parentId = document["id"][0..document["id"].rindex('_') - 1] %>
			    <% if document["title_tesim"][0].size < 10 %>
			       <% parentTitle = "Link to parent document" %>
			    <% else %>
			       <% parentTitle = document["title_tesim"][0][0..document["title_tesim"][0].rindex('-') - 2] %>
                            <% end %>
			of <a href="/catalog/<%= parentId %>" ><%= parentTitle %></a>
		</div>
	<% end %>
<% else %>
  <%= render_document_heading(document, :tag => :h1) %>
<% end %>
