<%# ragamala item view -%>

<% params[:subject] = 'ragamala' %>

<%= render 'image_viewer_legacy' %>

<div class="col-md-4">
  <%# show fields except image and kaltura ID %>
  <dl class="metadata">
    <% if (render_document_show_field_value :document => document, :field => "deity_central_figure_tesim").present? %>
      <dt>
        Central Deity
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "deity_central_figure_tesim" %>
      </dd>
    <% end %>
    <% if (render_document_show_field_value :document => document, :field => "style_period_tesim").present? %>
      <dt>
        Style/Period
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "style_period_tesim" %>
      </dd>
    <% end %>
    <% if (render_document_show_field_value :document => document, :field => "description_tesim").present? %>
      <dt>
        Description
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "description_tesim" %>
      </dd>
    <% end %>
    <% if (render_document_show_field_value :document => document, :field => "Collection_tesim").present? %>
      <dt>
        Collection
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "Collection_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "fd_43718_ssi").present? %>
      <dt>
        Country
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "fd_43718_ssi" %>
      </dd>
    <%end%>
  </dl>
  <%= render 'show_download' %>
</div>