<%# default partial to display solr document fields in catalog show view -%>

<%# show image %>
<% coll = render_document_show_field_value :document => document, :field => "Collection_tesim" %>
<% project = render_document_show_field_value :document => document, :field => "project_id_tesim" %>
<% asset = render_document_show_field_value :document => document, :field => "asset_id_tesim" %>
<% if coll = "Reps Photographs Collection" %>
<div id="openseadragon1" style="width: 800px; height: 600px"></div>
<script>
//<![CDATA[
        function initOpenSeadragon() {
          OpenSeadragon({
  id: "openseadragon1",
  minZoomImageRatio: 1,
  prefixUrl: "/",
  tileSources: "http://s3.amazonaws.com/sharedshelftosolr.library.cornell.edu/public/<%= project %>/<%= asset %>/image/info.json"});
        }
        window.onload = initOpenSeadragon;
        document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
//]]>
</script>

<% end %>




<%# show fields except image and kaltura ID %>
<dl class="dl-horizontal  dl-invert">
  	<% document.each do |field_name, field| -%>
  	<% if !field.blank? && !field_name.include?("_ssi") && field.is_a?(Array) %>
	    	
      <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>

	    <% end %>
  <% end %>
</dl>



