<%# default partial to display solr document fields in catalog show view -%>

<%# show image %>


<div id="openseadragon1" style="width: 800px; height: 600px"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1", 
        showNavigator: true,      
        tileSources: {
        type: 'legacy-image-pyramid',
        levels:[{
            url: '<%= render_document_show_field_value :document => document, :field => "media_URL_tesim" %>',
            width: <%= render_document_show_field_value :document => document, :field => "img_width_tesim" %>,

            height:<%= render_document_show_field_value :document => document, :field => "img_height_tesim" %>
            
        }]
    }

    });
</script>






<%# show fields except image and kaltura ID %>
<dl class="dl-horizontal  dl-invert">
  	<% document.each do |field_name, field| -%>
  	<% if !field.blank? && !field_name.include?("_ssi") && field.is_a?(Array) %>
	    	
      <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>

	    <% end %>
  <% end %>
</dl>



