<%# ragamala item view -%>

<% params[:subject] = 'ragamala' %>

<%# show image %>


<div id="openseadragon1" style="width: 400px; height: 600px; background-color:#000"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1", 
        prefixUrl: "/assets/",
        showNavigator: true,      
        tileSources: {
        type: 'legacy-image-pyramid',
        levels:[{
            url: '<%= render_document_show_field_value :document => document, :field => "media_URL_tesim" %>',
            width: <%= render_document_show_field_value :document => document, :field => "img_width_tesim" %>,

            height:<%= render_document_show_field_value :document => document, :field => "img_height_tesim" %>
            
        }]
    }

    });
</script>

<% image = render_document_show_field_value :document => document, :field => "media_URL_tesim" %>




<%# show image %>

<%# show fields except image and kaltura ID %>
<dl class="dl-horizontal dl-invert metadata">
  	<% if (render_document_show_field_value :document => document, :field => "deity_central_figure_tesim").present? %>
      <dt class="blacklight-deity %>">
        Central Deity
      </dt>

      <dd class="blacklight-deity">
        <%= render_document_show_field_value :document => document, :field => "deity_central_figure_tesim" %>
      </dd>


       <dt class="blacklight-period %>">
        Style/Period
      </dt>

      <dd class="blacklight-period">
        <%= render_document_show_field_value :document => document, :field => "style_period_tesim" %>
      </dd>

     


       <dt class="blacklight-description %>">
        Description
      </dt>

      <dd class="blacklight-description">
        <%= render_document_show_field_value :document => document, :field => "description_tesim" %>
      </dd>


<%end%>
          
        </dl>

 <a class="btn btn-info pull-left" href="<%= render_document_show_field_value :document => document, :field => "media_URL_tesim" %>">Download Original Image</a>
 <a href="#" style="float:right">View in Shared Shelf Commons</a>

