<%# default partial to display solr document fields in catalog show view -%>
<%# aerial item view -%>

<% params[:subject] = 'aerialny' %>

<%= render 'image_viewer_legacy' %>

<%# show fields except image and kaltura ID %>


<dl class="dl-horizontal dl-invert metadata">

<% if (render_document_show_field_value :document => document, :field => "Collection_tesim").present? %>

             <dt class="blacklight-collection>">
        Collection
      </dt>

      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "Collection_tesim" %>
      </dd>



<%end%>

<% if (render_document_show_field_value :document => document, :field => "centerpoint_tesim").present? %>

      <dt class="blacklight-collection%>">
        Centerpoint
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "centerpoint_tesim" %>
      </dd>
<%end%>


<% if (render_document_show_field_value :document => document, :field => "location_tesim").present? %>

      <dt class="blacklight-collection%>">
        Location
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "location_tesim" %>
      </dd>
<%end%>


<% if (render_document_show_field_value :document => document, :field => "county_tesim").present? %>

             <dt class="blacklight-collection%>">
        County
      </dt>

      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "county_tesim" %>
      </dd>



<%end%>

<% if (render_document_show_field_value :document => document, :field => "latest_date_tsi").present? %>

             <dt class="blacklight-collection%>">
        Latest Date
      </dt>

      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "latest_date_tsi" %>
      </dd>



<%end%>
<% if (render_document_show_field_value :document => document, :field => "source_tsi").present? %>

             <dt class="blacklight-collection%>">
        Source
      </dt>

      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "source_tsi" %>
      </dd>



<%end%>

<% if (render_document_show_field_value :document => document, :field => "repository_tsi").present? %>

             <dt class="blacklight-collection%>">
        Repository
      </dt>

      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "repository_tsi" %>
      </dd>

<% end %>

<% if (render_document_show_field_value :document => document, :field => "country_tesim").present? %>

      <dt class="blacklight-collection%>">
        Country
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "country_tesim" %>
      </dd>
<%end%>

<% if (render_document_show_field_value :document => document, :field => "earliest_date_tsi").present? %>

      <dt class="blacklight-collection%>">
        Earliest Date
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "earliest_date_tsi" %>
      </dd>
<%end%>

<% if (render_document_show_field_value :document => document, :field => "materials_tesim").present? %>

      <dt class="blacklight-collection%>">
        Materials
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "materials_tesim" %>
      </dd>
<%end%>


<% if (render_document_show_field_value :document => document, :field => "culture_tesim").present? %>

      <dt class="blacklight-collection%>">
        Culture
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "culture_tesim" %>
      </dd>
<%end%>





<% if (render_document_show_field_value :document => document, :field => "subject_tesim").present? %>

      <dt class="blacklight-collection%>">
        Subject
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "subject_tesim" %>
      </dd>
<%end%>


<% if (render_document_show_field_value :document => document, :field => "collection_website_tesim").present? %>

     
      <a class="btn btn-info" href="<%= render_document_show_field_value :document => document, :field => "collection_website_tesim" %>">Collection website</a>
<%end%>


 <div style="margin-top:5px; padding:10px; clear:both"><a class="btn btn-info pull-left" href="<%= render_document_show_field_value :document => document, :field => "media_URL_tesim" %>">Download Original Image</a>

<br /><br />
 </div>
 <div style="margin-top:5px; padding:10px"><a href="#" >View in Shared Shelf Commons</a></div>

 </div>
</dl>

