<%# default partial to display solr document fields in catalog show view -%>
<% @collection_website = render_document_show_field_value(:document => @document, :field => 'collection_website_ss') %>
<% @ssc_site  = render_document_show_field_value(:document => @document, :field => 'ssc_site_tesim') %>
<%= render 'viewer' %>

<%# default partial to display solr document fields in catalog show view -%>

<%# for images and audio - TODO: DRY this up if possible; repeating markup -%>
	<% if !@project.blank? && @kaltura.blank? || !@kaltura.blank? %>
	<div class="col-sm-8 item-info">
		<dl class="metadata dl-horizontal">
		  <% document_show_fields(document).each do |field_name, field| -%>
		    <% if should_render_show_field? document, field %>
			    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
			    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
		    <% end -%>
		  <% end -%>
		</dl>
	</div>
	<div class="col-sm-4 more-item-info">
		<% if !@collection_website.blank? || !@ssc_site.blank? %>
		<div class="website-links well">
			<ul class="fa-ul">
			<% if @collection_website.present? %>
				<li><i class="fa-li fa fa-desktop"></i><a href="<%= @collection_website %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'CollectionWebsite']);"><strong>About the Collection</strong></a></li>
			<% end %>
			<% if !@ssc_site.blank? %>
				<li><i class="fa-li fa fa-external-link"></i><a href="<%= @ssc_site %>" class="ss-link"  onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'SharedShelf']);">View collection in ARTstor/Shared Shelf Commons</a></li>
			<% end %>			
			<% if !@project.blank? && @kaltura.blank? %>
        		<li><i class="fa-li fa fa-download"></i><a href="<%= @download_url %>" title="Download">Download image</a></li>
        	<% end %>
        	</ul>
		</div>
		<% end %>
		<%= render partial: 'catalog/show_maplet_default' %>
		</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
</div>

<%# for books -%>
<% else %>
	<div class="col-md-9 item-info">
		<dl class="metadata dl-horizontal">
		  <% document_show_fields(document).each do |field_name, field| -%>
		    <% if should_render_show_field? document, field %>
			    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
			    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
		    <% end -%>
		  <% end -%>
		</dl>
		<div class="more-item-info">
			<% if @collection_website.present? %>
			<div class="website-links well">
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-desktop"></i><a href="<%= @collection_website %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'CollectionWebsite']);">Collection website</a></li>
				</ul>
			</div>
			<% end %>
			<%= render partial: 'catalog/show_maplet_default' %>
			</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
		</div>
	</div>
<% end %>
