<%# default partial to display solr document fields in catalog show view -%>

<%= render 'image_viewer' %>

<%# show fields except image and kaltura ID %>
<dl class="dl-horizontal  dl-invert metadata">
  	
      <% if (render_document_show_field_value :document => document, :field => "Collection_tesim").present? %>
      <dt class="blacklight-collection%>">
        Collection
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "Collection_tesim" %>
      </dd>
      <%end%>

      <% if (render_document_show_field_value :document => document, :field => "special__features_tesim").present? %>
      <dt class="blacklight-collection%>">
        Special Features
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "special_features_tesim" %>
      </dd>
      <%end%>


      <% if (render_document_show_field_value :document => document, :field => "market_square_details_tesim").present? %>
      <dt class="blacklight-collection%>">
        Market Square Details
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "market_square_details_tesim" %>
      </dd>
      <%end%>



      <% if (render_document_show_field_value :document => document, :field => "plan_site_details_tesim").present? %>
      <dt class="blacklight-collection%>">
        Plan Site Details
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "plan_site_details_tesim" %>
      </dd>
      <%end%>


      <% if (render_document_show_field_value :document => document, :field => "founder_tesim").present? %>
      <dt class="blacklight-collection%>">
        Founder
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "founder_tesim" %>
      </dd>
      <%end%>




      <% if (render_document_show_field_value :document => document, :field => "fd_27325_tsi").present? %>
      <dt class="blacklight-collection%>">
        Year taken
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "fd_27325_tsi" %>
      </dd>
      <%end%>

      <% if (render_document_show_field_value :document => document, :field => "country_tesim").present? %>
      <dt class="blacklight-collection%>">
        Country
      </dt>
      <dd class="blacklight-collection">
        <%= render_document_show_field_value :document => document, :field => "country_tesim" %>
      </dd>
      <%end%>

        <% if (render_document_show_field_value :document => document, :field => "collection_website_tesim").present? %>

     
      <a class="btn btn-info" href="<%= render_document_show_field_value :document => document, :field => "collection_website_tesim" %>">Collection website</a>
<%end%>


 <div style="margin-top:5px; padding:10px; clear:both"><a class="btn btn-info pull-left" href="<%= render_document_show_field_value :document => document, :field => "media_URL_tesim" %>">Download Original Image</a>

<br /><br />
 </div>
 <div style="margin-top:5px; padding:10px"><a href="#" >View in Shared Shelf Commons</a></div>

 </div>  
        </dl>

 

