<%# default partial to display solr document fields in catalog show view -%>

<%# show Adler Adler items that are not suppressed for portal %>
<% if render_document_show_field_value(:document => @document, :field => 'adler_status') != 'Suppress for portal' && render_document_show_field_value(:document => @document, :field => 'collection_tesim' == "Adler Hip Hop Archive") %>
	<% @show = "yes" %>
<% end %>

<%# show Adler 'suppress for portal' items on stg %>
<% if render_document_show_field_value(:document => @document, :field => 'adler_status') == 'Suppress for portal' && render_document_show_field_value(:document => @document, :field => 'collection_tesim' == "Adler Hip Hop Archive") && ENV["COLLECTIONS"] == "development" %>
	<% @show = "yes" %>
<% end %>

<%# show Wordsworth items %>
<% if render_document_show_field_value(:document => @document, :field => 'status_ssi') == "Published"  ||
render_document_show_field_value(:document => @document, :field => 'active_fedora_model_ssi') == "Book" || render_document_show_field_value(:document => @document, :field => 'collection_tesim') == "Wordsworth Collection" %>
	<% @show = "yes" %>
<% end %>

<%if @show == "yes" %>

	<% @collection_website = render_document_show_field_value(:document => @document, :field => 'collection_website_ss') %>
	<% @ssc_site  = render_document_show_field_value(:document => @document, :field => 'ssc_site_tesim') %>
	<% @bibid  = render_document_show_field_value(:document => @document, :field => 'bibid_ssi') %>
	<% @url_related_link_tesim  = render_document_show_field_value(:document => @document, :field => 'url_related_link_tesim') %>
	<% @title_related_link_tesim  = render_document_show_field_value(:document => @document, :field => 'title_related_link_tesim') %>
	<% @finding_aid  = render_document_show_field_value(:document => @document, :field => 'finding_aid_tesim') %>

	<%= render 'pub_status', :document => @document %>

	<%# show viewer unless it's a journal %>
	<% unless render_document_show_field_value(:document => @document, :field => 'has_model_ssim') == "Journal" %>
		<%= render 'viewer' %>
	<% end %>

	<%# for images and audio - TODO: DRY this up -%>
		<% if !@project.blank? && @kaltura.blank? || !@kaltura.blank? %>
		<div class="col-sm-8 item-info">
			<dl class="metadata dl-horizontal">
			  <% document_show_fields(document).each do |field_name, field| -%>
			    <% if should_render_show_field? document, field %>
				    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
				    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
			    <% end -%>
			  <% end -%>
			</dl>
			<%= render partial: 'catalog/show_maplet_default' %>
			</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
		</div>
		<div class="col-sm-4 more-item-info">
		<% if !@collection_website.blank? || !@ssc_site.blank? || @bibid.present? %>
			<div class="well">
				<h2>About the collection</h2>
				<% if @bibid.present? %>
		 			<%= render partial: 'cataloginfo'%>
		 		<% end %>
		 		<ul class="fa-ul collection-links">
		 			<% if @url_related_link_tesim.present? %>
						<li><i class="fa-li fa fa-external-link"></i><a href="<%= @url_related_link_tesim %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'Squeezes3Dlink']);"><%= @title_related_link_tesim %></a></li>
					<% end %>
			 		<% if @collection_website.present? %>
						<li><i class="fa-li fa fa-external-link"></i><a href="<%= @collection_website %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'CollectionWebsite']);">Collection website</a></li>
					<% end %>
					<% if @finding_aid.present? %>
						<li><i class="fa-li fa fa-external-link"></i><a href="<%= @finding_aid %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'FindingAid']);">Finding aid</a></li>
					<% end %>
					<% if @bibid.present? %>
						<li><i class="fa-li fa fa-external-link"></i>
							<%= link_to "Catalog record","https://newcatalog.library.cornell.edu/catalog/#{@bibid}" %>
						</li>
					<% end %>
			 		<% if !@ssc_site.blank? %>
						<li><i class="fa-li fa fa-external-link"></i><a href="<%= @ssc_site %>" class="ss-link"  onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'SharedShelf']);">View collection in ARTstor</a></li>
					<% end %>
				</ul>
			</div>
			<% if @project == "3686" %>
				<h3>Additional plans</h3>
				<%= render partial: 'pages/collections/tell-en-nasbeh/image_map' %>
			<% end %>
		<% end %>
		</div>



	<%# for books -%>
	<% else %>
		<div class="col-sm-8 item-info">
			<dl class="metadata dl-horizontal">
			  <% document_show_fields(document).each do |field_name, field| -%>
			    <% if should_render_show_field? document, field %>
				    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
				    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
			    <% end -%>
			  <% end -%>
			</dl>
      		<% if render_document_show_field_value(:document => @document, :field => 'has_model_ssim') == "Journal"  %>
      			<%= render 'issue_list', :document => @document %>
      		<% end %>
			<%= render partial: 'catalog/show_maplet_default' %>
		</div><%# add extra closing div to fix this layout bug: https://issues.library.cornell.edu/browse/DIGCOLL-219 %>
		<div class="col-sm-4 more-item-info">
			<% if @collection_website.present? %>
				<div class="well">
          			<h2>About the Collection</h2>
					<ul class="fa-ul collection-links">
						<li><i class="fa-li fa fa-desktop" aria-hidden="true"></i><a href="<%= @collection_website %>" onclick="javascript:_paq.push(['trackEvent', 'ExternalLink', 'CollectionWebsite']);">Collection website</a></li>
            			<% if (render_document_show_field_value :document => @document, :field => 'collection_tesim').include?('Wordsworth') %>
              				<li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="https://catalog.hathitrust.org/Record/<%=get_hathi_multiviews(@document)[0]['fromRecord']%>">View this item in Hathi Trust</a></li>
              			<% end %>

              			<% if get_hathi_multiviews(@document).length > 1  %>
				      		<li><i class="fa-li fa fa-book" aria-hidden="true"></i>More volumes at Hathi Trust
				      			<ul>
						        <% get_hathi_multiviews(@document).each do |item| %>
						            <li><a href="<%= item['itemURL'] %>"><%= item["enumcron"] %></a></li>
						        <% end %>
						      </ul>
				      		</li>
				    	<% end %>
          			</ul>
          			
				</div>
			<% end %>

			<%# if CHLA show collection box %>
			<% if (render_document_show_field_value :document => @document, :field => 'collection_tesim').include?('Core Historical') %>
				<%= render partial: 'about_chla' %>
			<% end %>

		</div>
		</div>
	<% end %>
<% end %>
