<%# reps bastides item view -%>

<%= render 'image_viewer' %>

<div class="col-md-4">
  <%# show fields except image and kaltura ID %>
  <dl class="metadata">
    <% if (render_document_show_field_value :document => document, :field => "Collection_tesim").present? %>
      <dt>
        Collection
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "Collection_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "special__features_tesim").present? %>
      <dt>
        Special Features
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "special_features_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "market_square_details_tesim").present? %>
      <dt>
        Market Square Details
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "market_square_details_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "plan_site_details_tesim").present? %>
      <dt>
        Plan Site Details
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "plan_site_details_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "founder_tesim").present? %>
      <dt>
        Founder
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "founder_tesim" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "fd_27325_tsi").present? %>
      <dt>
        Year taken
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "fd_27325_tsi" %>
      </dd>
    <%end%>
    <% if (render_document_show_field_value :document => document, :field => "country_tesim").present? %>
      <dt>
        Country
      </dt>
      <dd>
        <%= render_document_show_field_value :document => document, :field => "country_tesim" %>
      </dd>
    <%end%>
  </dl>
  <%= render 'show_download' %>
</div>

