<% @project = render_document_show_field_value(:document => @document, :field => 'project_id_ssi') %>
<% @kaltura = render_document_show_field_value(:document => @document, :field => 'kaltura_id_s') %>
<% @book_id = render_document_show_field_value :document => @document, :field => 'id' %>
<% @book_prefix = (render_document_show_field_value :document => @document, :field => 'id').split(':')[0] %>
<% @download_url = render_document_show_field_value(:document => @document, :field => 'download_link_tesim') %>
<% @media = render_document_show_field_value(:document => @document, :field => 'media_URL_tesim')  %>

<% @chlaid = render_document_show_field_value(:document => @document, :field => 'identifier_tesim') %>

<% if @media.present? && @media.include?('pdf') %>
<% @pdf = true %>
<% end %>




<% @page = "1" %>

<%# display iiif image viewer if it is artstor not pdf and not gamelan %>
<% if !@project.blank? && (@kaltura.blank? && @project != '616' && @pdf != true)%>

<%# set up separate div for main and secondary images if this is zorn, blaschka or costumes %>
<% if is_multi_image?(@document) == true %>
  <div class="col-sm-10">
  <% end %>

<% @asset = request.original_url.split('ss')[1].split(':')[1] %>
  <div id="image-toolbar">
    <div class="image-controls">
      <% if @project != "893" %>
      <a href="<%= @download_url %>" class="download-link" title="Download" onclick="javascript:_paq.push(['trackEvent', 'DownloadLink', 'viewer-<%= @project %>-<%= @book_id %>']);">Download<i class="fa fa-download"></i></a>
      <% end %>
      <a id="zoom-in" href="#zoom-in"><i class="fa fa-plus-circle"></i></a>
      <a id="zoom-out" href="#zoom-out"><i class="fa fa-minus-circle"></i></a>
      <a id="home" href="#home"><i class="fa fa-refresh"></i></a>
      <a id="full-page" href="#full-page" onclick="javascript:_paq.push(['trackEvent', 'ImageViewer', 'fullscreen']);"><i class="fa fa-expand"></i></a>
    </div>
  </div>
  <div id="openseadragon1"></div>

  <div id="print-image">
  <% if render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim').present? %>
  <img src="<%= render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim') %>">
  <% end %>
  </div>

<%# display artstor iiif if we have it %>
<% if render_document_show_field_value(:document => @document, :field => 'content_metadata_image_iiif_info_ssm').present? %>
<script>
  //<![CDATA[
  function initOpenSeadragon() {
  OpenSeadragon ({
        id: "openseadragon1",
        toolbar: "image-toolbar",
        zoomInButton:   "zoom-in",
        zoomOutButton:  "zoom-out",
        homeButton:     "home",
        fullPageButton: "full-page",
        minZoomImageRatio: 1,
        prefixUrl: "/images/",
        tileSources: "<%= render_document_show_field_value(:document => @document, :field => 'content_metadata_image_iiif_info_ssm') %>"
      });
  }
  window.onload = initOpenSeadragon;
  document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
  //]]>
</script>

<%# display our own iiif if we did not have artstor %>
<% else %>
<script>
  //<![CDATA[
  function initOpenSeadragon() {
  OpenSeadragon ({
        id: "openseadragon1",
        toolbar: "image-toolbar",
        zoomInButton:   "zoom-in",
        zoomOutButton:  "zoom-out",
        homeButton:     "home",
        fullPageButton: "full-page",
        minZoomImageRatio: 1,
        prefixUrl: "/images/",
        tileSources: "https://s3.amazonaws.com/sharedshelftosolr.library.cornell.edu/public/<%= @project %>/<%= @asset %>/image/info.json"
      });
  }
  window.onload = initOpenSeadragon;
  document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
  //]]>
</script>

<% end %>

<%# close up previous div and open the next then display the multiple views %>
<% if is_multi_image?(@document) == true %>
</div>
  <div class="col-sm-2 multi-images">
    <%= render 'multi_images' %>
  </div>

  <% end %>
<%# done with iiif stuff %>

<%# display av player %>
<% elsif !@kaltura.blank? %>
<% @identifier= render_document_show_field_value(:document => @document, :field => 'id_number_ssi') %>
  <div class="other-viewer well">
    <div class="row">
      <div class="col-md-8">
        <div id="kaltura-player" class="av-player">
          <%# using Kaltura "Portal player" %>
          <div id="kaltura_player_1474482853" style="width: 560px; height: 315px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
            <span itemprop="name" content="<%= @title %>"></span>
            <span itemprop="description" content=""></span>
            <span itemprop="duration" content=""></span>
            <span itemprop="thumbnail" content="https://cdnsecakmi.kaltura.com/p/518251/sp/51825100/thumbnail/entry_id/<%= @kaltura %>/version/0/acv/51"></span>
            <span itemprop="width" content="560"></span>
            <span itemprop="height" content="315"></span>
          </div>
          <script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/36571211/partner_id/518251?autoembed=true&entry_id=<%= @kaltura %>&playerId=kaltura_player_1474482853&cache_st=1474482853&width=550&height=412&flashvars[streamerType]=auto"></script>
        </div>
      </div>
      <div class="col-md-4 track-list">
        <% if @project == "616" && render_document_show_field_value(:document => @document, :field => 'occasion_tesim').present? %>
          <%= render 'track_list', :document => @document %>
        <% end %>
      </div>
    </div>
  </div>

<%# display thumbnail with pdf link like for Adler %>
<% elsif @pdf == true %>
  <div class="other-viewer well pdf">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div data-no-turbolink>
          <% if (render_document_show_field_value(:document => @document, :field => 'filename_tesim')).present? %>
            <iframe src = "/ViewerJS/?zoom=page-width#https://s3.amazonaws.com/adler.library.cornell.edu/<%= render_document_show_field_value(:document => @document, :field => 'filename_tesim') %>" width='100%' height="600"
            name="<%= render_document_show_field_value(:document => @document, :field => 'title_tesim') %>"
            allowfullscreen webkitallowfullscreen></iframe>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% elsif (render_document_show_field_value :document => @document, :field => 'collection_tesim').include?('Wordsworth') %>
<% if @document['arkID_tesim'].is_a?(Array) %>
<div class="col-sm-10">
  <% end %>
  <div class="well">

    <% if @document['arkID_tesim'].is_a?(Array) %>
<iframe width="100%" height="550" src="https://hdl.handle.net/2027/coo1.<%= @document['arkID_tesim'][0] %>?urlappend=%3Bui=embed"></iframe>
<!--
<iframe width="100%" height="550" src="https://hdl.handle.net/2027/coo1.<%= @document['arkID_tesim'][1] %>?urlappend=%3Bui=embed"></iframe>
<iframe width="100%" height="550" src="https://hdl.handle.net/2027/coo1.<%= @document['arkID_tesim'][2] %>?urlappend=%3Bui=embed"></iframe>

-->
</div>
</div>

<div class="col-sm-2 multi-images">

<% if get_hathi_multiviews(@document).length > 1  %>

<h2>More at Hathi Trust</h2>

<% end %>

<div class="multi-hathi-wrapper">
  <ul>
<% get_hathi_multiviews(@document).each do |item| %>

  <div class="multi-image">
    <% if get_hathi_multiviews(@document).length > 1 %>
    <li><a href="<%= item['itemURL'] %>"><%= item["enumcron"] %></a></li>
    <% end %>
</div>

<% end %>
</ul>

</div>
</div>



    <% else %>
<iframe width="100%" height="550" src="https://hdl.handle.net/2027/coo1.<%= (render_document_show_field_value :document => @document, :field => 'arkID_tesim') %>?urlappend=%3Bui=embed"></iframe>
    <% end %>

</div>

<%# display book reader %>
<% elsif !@book_id.blank? && @project != "616" && @pdf != true %>
  <div class="other-viewer well">
    <div class="row">
      <div class="col-sm-8 text-center">
        <div class="cover" data-no-turbolink>
          <% unless @book_id.include?('chla') %>
          <a href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>#page/<%= @page %>/mode/1up" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerthumbnail']);"><img src="http://hydrastg.library.cornell.edu/fedora/get/<%= @book_id %>/thumbnailImage" class="img-responsive img-thumbnail" alt="Book or page image"></a>
          <% else %>
          <a href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerthumbnail']);">
            <img src="<%= chla_thumbnail(@document) %>" class="img-responsive img-thumbnail" alt="Book or page image"></a>
          <% end %>
          <% bibid_display = render_document_show_field_value :document => @document, :field => 'bibid_tesim' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="reader-link" data-no-turbolink>

          <% unless @book_id.include?('chla') %>
          <a class="btn btn-portal btn-lg" href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>#page/<%= @page %>/mode/1up" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerthumbnail']);"><i class="fa fa-book-open"></i>Read item<i class="fa fa-book"></i></a>
          <% else %>
          <a class="btn btn-portal btn-lg" href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerthumbnail']);"><i class="fa fa-book-open"></i>Read item<i class="fa fa-book"></i></a>
          <% end %>



        </div>
      </div>
    </div>
  </div>

<% end %>
