  <div class="other-viewer well">
    <div class="row">
      <div class="col-sm-8 text-center">
        <div class="cover" data-no-turbolink>
          <% unless @book_id.include?('chla') || @book_id.include?('hivebees') %>
            <img src="http://hydrastg.library.cornell.edu/fedora/get/<%= @book_id %>/thumbnailImage" class="img-responsive img-thumbnail" alt="">
          <% else %>
            <img src="<%= chla_thumbnail(@document) %>" class="img-responsive img-thumbnail" alt=""></a>
          <% end %>
          <% bibid_display = render_document_show_field_value :document => @document, :field => 'bibid_tesim' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="reader-link" data-no-turbolink>

          <% unless @book_id.include?('chla') %>
            <a class="btn btn-portal btn-lg" href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>#page/<%= @page %>/mode/1up" onclick="ga('send', 'event', 'reader', 'click', 'button-<%= @book_id %>')"><i class="fa fa-book-open"></i>Read item<i class="fa fa-book"></i></a>
          <% else %>
            <% if @document['format_tesim'][0] != "Issue" && @document['format_tesim'][0] != "Article"%>
              <a class="btn btn-portal btn-lg" href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>" oonclick="ga('send', 'event', 'reader', 'click', 'button-<%= @book_id %>')"><i class="fa fa-book-open"></i>Read item<i class="fa fa-book"></i></a>
            <%# elsif @document['format_tesim'][0] == "Article" %>
            <% else @document['format_tesim'][0] == "Issue" && @document['format_tesim'][0] != "Article"%>
              <a class="btn btn-portal btn-lg" href="http://reader.library.cornell.edu/docviewer/digital?id=<%= @book_id %>" onclick="ga('send', 'event', 'reader', 'click', 'button-<%= @book_id %>')"><i class="fa fa-book-open"></i>Read item<i class="fa fa-book"></i></a>
            <%# else %>
              <!-- <h3> Table of Contents </h3> -->

            <% end %>
          <% end %>



        </div>
      </div>
    </div>
  </div> 
