<% @project = render_document_show_field_value(:document => @document, :field => 'project_id_ssi') %>
<% @kaltura = render_document_show_field_value(:document => @document, :field => 'kaltura_id_s') %>
<% @kaltura_playlist = render_document_show_field_value(:document => @document, :field => 'kaltura_playlist_s') %>
<% @book_id = render_document_show_field_value :document => @document, :field => 'id' %>
<% @book_prefix = (render_document_show_field_value :document => @document, :field => 'id').split(':')[0] %>
<% @download_url = render_document_show_field_value(:document => @document, :field => 'download_link_tesim') %>
<% @media = render_document_show_field_value(:document => @document, :field => 'media_URL_tesim')  %>
<% @filename = render_document_show_field_value(:document => @document, :field => 'filename_s')  %>
<% @disable_download = render_document_show_field_value(:document => @document, :field => 'disable_download_tesim')  %>

<% @chlaid = render_document_show_field_value(:document => @document, :field => 'identifier_tesim') %>

<% @archival_collection = render_document_show_field_value(:document => @document, :field => 'archival_collection_tesim') %>

<% if @filename.present? && @filename.include?('pdf') %>
  <% @pdf = true %>
<% else %>
  <% if @media.present? && @media.include?('pdf') %>
    <% @pdf = true %>
  <% end %>
<% end %>

<% @page = "1" %>

<%# display iiif image viewer if it is artstor not pdf and not gamelan %>
<% if !@project.blank? && (@kaltura.blank? && @project != '616' && @pdf != true)%>

<%# set up separate div for main and secondary images if this is zorn, blaschka or costumes %>
<% if is_multi_image?(@document) == true %>
  <div class="col-sm-10">
<% end %>

<% @asset = request.original_url.split('ss')[1].split(':')[1] %>
  <div id="image-toolbar">
    <div class="image-controls">
      <% unless @project == "893" || @disable_download == "1" || !@download_url.present? %>
        <a href="<%= @download_url %>" class="download-link" title="Download" onclick="ga('send', 'event', 'download', 'click', 'viewer-<%= @project %>-<%= @book_id %>')">Download<i class="fa fa-download"></i></a>
      <% end %>
      <a id="zoom-in" href="#zoom-in"><i class="fa fa-plus-circle"></i></a>
      <a id="zoom-out" href="#zoom-out"><i class="fa fa-minus-circle"></i></a>
      <a id="home" href="#home"><i class="fa fa-refresh"></i></a>
      <a id="full-page" href="#full-page" onclick="ga('send', 'event', 'viewer', 'click', 'fullscreen', 'viewer-<%= @project %>-<%= @book_id %>')"><i class="fa fa-expand"></i></a>
    </div>
  </div>
  <div id="openseadragon1"></div>

  <div id="print-image">
  <% if render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim').present? %>
  <img src="<%= render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim') %>" alt="">
  <% end %>
  </div>

<%# display artstor iiif if we have it %>
<% if render_document_show_field_value(:document => @document, :field => 'content_metadata_image_iiif_info_ssm').present? %>
  <script>
    //<![CDATA[
    function initOpenSeadragon() {
    OpenSeadragon ({
          id: "openseadragon1",
          toolbar: "image-toolbar",
          zoomInButton:   "zoom-in",
          zoomOutButton:  "zoom-out",
          homeButton:     "home",
          fullPageButton: "full-page",
          minZoomImageRatio: 1,
          prefixUrl: "/images/",
          tileSources: "<%= render_document_show_field_value(:document => @document, :field => 'content_metadata_image_iiif_info_ssm') %>"
        });
    }
    window.onload = initOpenSeadragon;
    document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
    //]]>
  </script>

<%# display our own iiif if we did not have artstor %>
<% else %>
  <script>
    //<![CDATA[
    function initOpenSeadragon() {
    OpenSeadragon ({
          id: "openseadragon1",
          toolbar: "image-toolbar",
          zoomInButton:   "zoom-in",
          zoomOutButton:  "zoom-out",
          homeButton:     "home",
          fullPageButton: "full-page",
          minZoomImageRatio: 1,
          prefixUrl: "/images/",
          tileSources: "https://s3.amazonaws.com/sharedshelftosolr.library.cornell.edu/public/<%= @project %>/<%= @asset %>/image/info.json"
        });
    }
    window.onload = initOpenSeadragon;
    document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
    //]]>
  </script>

<% end %>

<%# close up previous div and open the next then display the multiple views %>
<% if is_multi_image?(@document) == true %>
</div>
  <div class="col-sm-2 multi-images">
    <%= render 'multi_images' %>
  </div>

  <% end %>
<%# done with iiif stuff %>

<%# display av player %>
<% elsif !@kaltura.blank? && @kaltura_playlist.blank? %>
  <%= render partial: 'viewer_kaltura_player'%>

<%# display av playlist %>
<% elsif !@kaltura_playlist.blank? %>
  <%= render partial: 'viewer_kaltura_playlist'%>

<%# inline pdf viewer for adler and rudin %>
<% elsif @pdf == true && (@project == '893'|| @project == '4409') %>
  <%= render partial: 'viewer_pdf'%>

<%# hathi viewer for wordsworth %>
<% elsif (render_document_show_field_value :document => @document, :field => 'collection_tesim').include?('Wordsworth') %>
  <%= render partial: 'viewer_hathi'%>

<%# display book reader %>
<% elsif !@book_id.blank? && @project != "616" && @pdf != true %>
  <%= render partial: 'viewer_book_reader'%>

<%# pdf links from jstor forum %>
<% elsif  @project == "3450" || "49"  %>
  <%= render partial: 'viewer_pdf_download'%>
<% end %>
