<% @project = render_document_show_field_value(:document => @document, :field => 'project_id_ssi') %>
<% @kaltura = render_document_show_field_value(:document => @document, :field => 'kaltura_id_s') %>
<% @book_id = render_document_show_field_value :document => @document, :field => 'id' %>
<% @book_prefix = (render_document_show_field_value :document => @document, :field => 'id').split(':')[0] %>
<% @download_url = render_document_show_field_value(:document => @document, :field => 'download_link_tesim') %>
<% @page = "1" %>
<% @artstor_iiif = render_document_show_field_value(:document => @document, :field => 'content_metadata_image_iiif_info_ssm') %>
<%= @artstor_iiif %>
<%# display image viewer %>
<% if !@project.blank? && @kaltura.blank? %>
<% @asset = request.original_url.split('ss')[1].split(':')[1] %>
  <div id="image-toolbar">
    <div class="image-controls">
      <a href="<%= @download_url %>" class="download-link" title="Download" onclick="javascript:_paq.push(['trackEvent', 'DownloadLink', 'viewer']);">Download<i class="fa fa-download"></i></a>
      <a id="zoom-in" href="#zoom-in"><i class="fa fa-plus-circle"></i></a>
      <a id="zoom-out" href="#zoom-out"><i class="fa fa-minus-circle"></i></a>
      <a id="home" href="#home"><i class="fa fa-refresh"></i></a>
      <a id="full-page" href="#full-page" onclick="javascript:_paq.push(['trackEvent', 'ImageViewer', 'fullscreen']);"><i class="fa fa-expand"></i></a>
    </div>
  </div>
  <div id="openseadragon1"></div>
  <div id="print-image">
  <% if render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim').present? %>
  <img src="<%= render_document_show_field_value(:document => @document, :field => 'media_URL_size_3_tesim') %>">
  <% end %>
  </div>
<% if @artstor_iiif.present? %>
<script>
  //<![CDATA[
  function initOpenSeadragon() {
  OpenSeadragon ({
        id: "openseadragon1",
        toolbar: "image-toolbar",
        zoomInButton:   "zoom-in",
        zoomOutButton:  "zoom-out",
        homeButton:     "home",
        fullPageButton: "full-page",
        preserveViewport: true,
    visibilityRatio:    1,
    minZoomLevel:       1,
    defaultZoomLevel:   1,
        prefixUrl: "/images/",
        tileSources: "<%= @artstor_iiif %>"
      });
  }
  window.onload = initOpenSeadragon;
  document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
  //]]>
</script>

<% else %> 

<script>
  //<![CDATA[
  function initOpenSeadragon() {
  OpenSeadragon ({
        id: "openseadragon1",
        toolbar: "image-toolbar",
        zoomInButton:   "zoom-in",
        zoomOutButton:  "zoom-out",
        homeButton:     "home",
        fullPageButton: "full-page",
        minZoomImageRatio: 1,
        prefixUrl: "/images/",
        tileSources: "https://s3.amazonaws.com/sharedshelftosolr.library.cornell.edu/public/<%= @project %>/<%= @asset %>/image/info.json"
      });
  }
  window.onload = initOpenSeadragon;
  document.addEventListener("page:load", initOpenSeadragon); // Initialize when using turbolinks
  //]]>
</script>

<% end %>
<%# display av player %>
<% elsif !@kaltura.blank? %>
<% @identifier= render_document_show_field_value(:document => @document, :field => 'id_number_ssi') %>
  <div class="well">
    <div id="kaltura-player">
      <div id="kaltura_player_1442239297" style="width: 500px; height: 35px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <span itemprop="name" content="<%= @identifier %>"></span>
        <span itemprop="description" content=""></span>
        <span itemprop="duration" content="1913"></span>
        <span itemprop="thumbnail" content="https://cdnsecakmi.kaltura.com/p/518251/sp/51825100/thumbnail/entry_id/<%= @kaltura %>/version/0/acv/51"></span>
        <span itemprop="width" content="500"></span>
        <span itemprop="height" content="35"></span>
      </div>
      <script src="https://cdnapisec.kaltura.com/p/518251/sp/51825100/embedIframeJs/uiconf_id/27313392/partner_id/518251?autoembed=true&entry_id=<%= @kaltura %>&playerId=kaltura_player_1442239297&cache_st=1442239297&width=500&height=35"></script>
    </div>
  </div>

<%# display book reader %>
<% elsif !@book_id.blank? %>
  <div class="col-md-3 book-thumbnail">
    <div class="cover" data-no-turbolink>
      <a href="http://reader.library.cornell.edu/bookreader/<%= @book_prefix %>/<%= @book_id %>/#page/<%= @page %>/mode/1up" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerthumbnail']);"><img src="http://hydrastg.library.cornell.edu/fedora/get/<%= @book_id %>/thumbnailImage" class="img-responsive img-thumbnail" alt="Book or page image"></a>
      <% bibid_display = render_document_show_field_value :document => @document, :field => 'bibid_tesim' %>
      <div class="reader-link" data-no-turbolink>
        <a class="btn btn-info" href="http://reader.library.cornell.edu/bookreader/<%= @book_prefix %>/<%= @book_id %>/#page/<%= @page %>/mode/1up" onclick="javascript:_paq.push(['trackEvent', 'itemview', 'readerbutton']);"><i class="fa fa-book-open"></i>Read item</a>
      </div>
    </div>
  </div>

<% end %>
