<% if request.xhr? %>

<div class="facet_pagination top">
  <%= render :partial=>'facet_pagination' %>
</div>


<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>

  <h3 class="modal-title"><%= facet_field_label(@facet.key) %></h3>
  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

</div>
<% end %>

<div class="modal-body">
  <% if !request.xhr? %>
    <% @page_title = "Browse Collections | Cornell University Library Digital Collections" %>
    <h1>Collections</h1>
    <p>Below is a list of collections available on this site.
      Visit our <a href="https://newcatalog.library.cornell.edu/digitalcollections">library catalog</a>
      for a complete list of digital collections.</p>
  <% end %>
  <div class="facet_extended_list">
  <%= render_facet_limit(@display_facet, layout: false) %>
  </div>
</div>

<div class="modal-footer">

  <div class="facet_pagination bottom">
    <%= render :partial=>'facet_pagination' %>
  </div>
</div>
