	<div id="sidebar" class="<%= sidebar_classes %>">
	  <%= render 'search_sidebar' %>
	</div>

<div id="content" class="<%= main_content_classes %>">
  <% unless has_search_parameters? && (params[:sbjct].nil? || params[:f].count > 1) %>
    <%# if there are no input/search related params, display the "home" partial -%>
		<% if params[:sbjct].present? && params[:f].present? && params[:f].count == 1 %>
			<% id = request.path %>
			<% if id.include?('catalog') %>
			<%= render "pages/#{params[:sbjct]}"%>
			<% elsif params[:sbjct].present? && !params[:pageid].present?%>
			<%= render "/pages/#{params[:sbjct]}"%>
			<% end %>
		<% else %>
		<%= render 'home' %>
		<% end %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
