<div class="row basic-header tarr-header">
	<div class="col-md-5">
		<h2>Historic Glacial Images of Alaska and Greenland</h2>
		<div class="subtitle">from the Ralph Stockman Tarr expeditions (1896; 1905-1911)</div>
	</div>
	<div class="col-md-7">
		<div class="navbar">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tarr-navbar" aria-expanded="false" aria-controls="navbar">
	        Menu
	        	<span class="fa fa-bars" aria-hidden="true"></span>
	    	</button>
		    <div id="tarr-navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-collection">
					<%= link_to_in_li "Home", "/collections/tarr" %>
					<%= link_to_in_li "About", "/collections/tarr/about" %>
					<%= link_to_in_li "Browse collection", "/?f%5Bcollection_tesim%5D%5B%5D=Historic+Glacial+Images+of+Alaska+and+Greenland" %>
					<%= link_to_in_li "Resources", "/collections/tarr/resources" %>
					<%= link_to_in_li "Contact", "/collections/tarr/contact" %>
			  	</ul>
			</div>
		</div>
		
	</div>
</div>
