<% content_for :page_title, 'Selections from the Cornell Anthropology Collections' %>
<%= render partial: 'pages/collections/anthrocollections/header' %>
<div class="anthro-layout" role="complementary">
	<div class="container">
		<div class="row">
			<div class="sidebar">
				<%= render partial: 'pages/collections/anthrocollections/menu' %>		
				<%= image_tag "collections/anthrocollections/recept.jpg" , alt: "", class: "img-responsive" %>
				<%= image_tag "collections/anthrocollections/Kath-class.jpg" , alt: "", class: "img-responsive" %>
				<%= image_tag "collections/anthrocollections/hallway.jpg" , alt: "", class: "img-responsive" %>
			</div>
			<div class="main-text">
				<h3>About the Anthropology Collections</h3>
				<p>Located in 150 McGraw Hall, part of the original University Museum, the <a href="https://anthropology.cornell.edu/anthropology-collections">Anthropology Collections</a> include approximately 20,000 items representing human activity around the world from the Lower Paleolithic to the present, including archaeological and ethnographic materials.</p>
				<p>The Collections are primarily a teaching and research tool and are not open on a regular schedule, but can be visited by appointment by individuals and groups. Classes up to 20 students can easily arrange sessions in the Collections to work with particular materials.</p>
				<p>In addition to regular classes, individual students can arrange to do guided independent research using the Collections on a wide range of projects. Recent examples have included Hopi kachina dolls, Mississippian pottery, and projectile point typology. Non-Cornell groups, including Ithaca school groups and others, are also welcome to arrange visits, although the Cornell community necessarily takes precedence.</p>
				<p>Even when not open, we have an exhibit gallery in the first-floor hallway of McGraw Hall where visitors can always see selections from the Collections. A larger exhibit space is in the Department seminar room, 215 McGraw, where classes and department colloquia are held. The current exhibits are "People and Their Stuff" in the hallway gallery, and "The First Century of Anthropology at Cornell: 1870-1970" in the 215 gallery.</p>
				<p>The Curator since 2005 is Frederic W. Gleach.</p>
				<p>Learn more about the <a href="https://anthropology.cornell.edu/history-anthropology-collections">history of the Anthropology Collections</a>.</p>
				<h3>Browse the Collection</h3>
				<p><a href="/?f[collection_tesim][]=Selections+from+the+Cornell+Anthropology+Collections">Browse the Cornell Anthropology Collections</a>, or select a subset of items from the list below.</p>
				<p>Selected items are drawn from 9 categories, selected for their significance and anticipated utility for a variety of users. These are:</p>
				<ol>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Ndembu+masks+and+costumes&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Ndembu masks and costumes</a>, collected by Victor and Edith Turner during fieldwork in Zambia that was subsequently published in seminal anthropological works including <em>The Forest of Symbols: Aspects of Ndembu Ritual</em> (Cornell University Press: 1970).</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Yir+Yoront+ethnographic+collection&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Yir Yoront ethnographic collection</a>, objects of ritual and daily life collected by Lauriston Sharp, former Goldwin Smith Professor of Anthropology and Asian Studies at Cornell University, during fieldwork with the Yir Yoront, an aboriginal group on the Cape York Peninsula of western Australia.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Hmong+clothing+and+textiles&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Hmong clothing and textiles</a>, collected by Lauriston and Ruth Sharp in Thailand in the 1960s. These are supplemented for comparative purposes by a few examples of needlework produced by Hmong communities in the US since the 1990s, collected by curator Frederic Gleach.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Georgia+Slave+Cabin+archaeological+collection&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Georgia Slave Cabin archaeological collection</a>, from excavations by Robert Ascher and Charles Fairbanks in 1969, published in <em>Historical Archaeology</em> in 1971. This was one of the first excavations and publications of an African-American site.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Amazonian+ceramics&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Amazonian ceramics</a>, collected by and for C. Fred Hartt, first Cornell University Professor of Geology, during expeditions in 1868-9. This was among the first archaeological work done in the Amazon, a region where the archaeological record is still not well known.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Precolumbian+Peruvian+textiles+and+ceramics&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Precolumbian Peruvian textiles and ceramics</a>, including two major donations. These represent a variety of cultures and periods from the region, allowing comparative and chronological study.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Danish+Neolithic+stone+tools&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Danish Neolithic stone tools</a>. These include flaked and ground daggers and axes, along with polishing stones used to produce the ground pieces, spindle-whorls used in textile production, sickles for harvesting grain, and other implements documenting lifestyles of the period.</li>
					<li><a href="/?f%5Barchival_collection_tesim%5D%5B%5D=Early+20th-century+items+from+the+Philippines+and+neighboring+island+nations&amp;f%5Bcollection_tesim%5D%5B%5D=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Early 20th-century items from the Philippines and neighboring island nations</a>. This collection offers a unique view into the socio-political world of the Pacific, and the applications of missionization and military force in the region.</li>
					<li><a href="/?f[archival_collection_tesim][]=Anthropology+Lantern+Slides&f[collection_tesim][]=Selections+from+the+Cornell+Anthropology+Collections&view=gallery">Magic-lantern slides</a>. Late 19th- and early 20th-century photographs, primarily images taken in East Asia by Cornell alumni Louis Livingston Seaman and Romyn Hitchcock, but also including photographs from Samoa, the US southwest, and others.</li>
				</ol>
				<h3>Contact</h3>
				<p>Frederic Gleach<br>
				Senior Lecturer & Curator of the Anthropology Collections<br>
				Department of Anthropology<br>
				Cornell University<br>
				<a href="mailto:f.gleach@cornell.edu">f.gleach@cornell.edu</a></p>
			</div>
		</div>
	</div>
</div>