<% content_for :page_title, 'The Cornell Wordsworth Collection' %>
<div class="container">
	<%= render partial: 'pages/collections/wordsworth/menu' %>
	<div class="pull-right img-right">
		<%= image_tag "collections/wordsworth/wordsworthportrait.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
		<p class="caption">
			Cornell’s famed Wordsworth Collection includes the earliest known portrait of the poet, painted by William Shuter in 1798 when Wordsworth was only 28 years old.
		</p>
	</div>
	<p>Cornell Library's William Wordsworth Collection is an internationally prominent collection, second in size only to that of Dove Cottage in England. The Cornell Wordsworth Collection offers nearly comprehensive book holdings on Wordsworth, Coleridge, and related authors. The collection also includes letters, manuscripts, broadsides, pictures, documents, and objects by, to, belonging to, or about Wordsworth and his family. The collection preserves all editions of his published works, along with many books that once belonged to Wordsworth’s own library. The collection also features a strong concentration of works about the Lake District. Of major importance among the manuscripts are 243 letters of Wordsworth and 79 letters of Coleridge, a substantial number of literary manuscripts of both poets, a large number of letters written to and about them by their friends and acquaintances, and several albums of miscellanies, most notably that kept by Joseph Cottle of Bristol from 1796. Also included are manuscripts by Sara Hutchinson, Dorothy Wordsworth, Mary Wordsworth, Thomas De Quincey, Robert Southey, Lord Byron, and John Keats.</p>
	<p>The Cornell Wordsworth Collection had its beginning in the St. John Wordsworth Collection, which was acquired in 1925 and represents forty years of devoted collecting by Mrs. Cynthia Morgan St. John of Ithaca, New York. Mrs. St. John built on broad foundations, seeking any anthology that contained some of Wordsworth’s poems, any volume that contained even a few significant comments on the poet, any that contained a tribute or parody of him, any book of near or remote association, any work on the English Lake Country, and any work by or about Coleridge or members of his family. Since 1925, Cornell has added steadily to St. John's thousand or so books and manuscripts.</p>
	<p>Cornell University is the editorial home of the Cornell Wordsworth Edition. Under the general direction of Cornell Professor Emeritus Stephen M. Parrish, the Cornell Wordsworth is a series of more than 20 published volumes that provide, for the first time, a complete and accurate record of variant readings, from Wordsworth's earliest drafts to his final lifetime (or posthumous) publication.</p>
	<p>Ongoing acquisitions to the William Wordsworth collection are supported by the M.H. and Ruth Abrams Wordsworth Endowment.</p>
	<div class="collection-search well">
		<h3>Search the Cornell Wordsworth Collection or <a href="/?f%5Bcollection_tesim%5D%5B%5D=Wordsworth+Collection">browse the collection</a></h3>
		<%= render '/catalog/search_form', { :@collection_search => "Wordsworth Collection"}  %>
	</div>
	<h3 id="resources">Resources</h3>
	<ul>
		<li>The Cornell Wordsworth Collection; a catalogue of books and manuscripts presented to the University by Mr. Victor Emanuel, Cornell 1919. Compiled by George Harris Healey. Ithaca, N.Y., Cornell University Press, 1957.</li>
		<li><a href="http://www.wordsworthcentre.co.uk/Cornell/index.html">The Cornell Wordsworth edition</a></li>
	</ul>
	<%= render partial: 'pages/top' %>
	<h3 id="about">About the project</h3>
	<h4>Our Partners</h4>
	<p>These digital volumes from the Division of Rare & Manuscript Collections at Cornell University Library were scanned from the print editions on an APT BookScan and converted to the jpeg2000 format by Kirtas Technologies, Inc., Victor, New York. Color images were scanned as 300 dpi (uninterpolated), 24-bit image capture; grayscale/bitonal images were scanned as 300 dpi 24-bit color images and converted to 300 dpi (uninterpolated), 8 bit image capture. All titles were scanned cover to cover; pages may include marks, notations and other marginalia present in the original volumes. The generous support of the Microsoft Corporation made the digitization possible.</p>

	<p>The access copies available on this site are being served from the Internet Archive , where the various viewing formats were derived from the jpeg2000 page images, in the spirit of the Internet Archive's mission to provide universal access to all knowledge.</p>
	<h4>Coding</h4>
	<p>This Web site was coded using Drupal 6, XHTML 1.1, and CSS2. It is best viewed at a screen resolution of 1024x768 or higher, using the latest available version of Firefox, Google Chrome, Internet Explorer, or Safari.</p>
	<h4>Credits</h4>
	<ul>
		<li>Bill Kehoe, Team Lead</li>
		<li>Steve Rokitka, Technical &amp; Creative Advisor and Programmer</li>
		<li>Rick Silterra, Lead Programmer</li>
		<li>Ken Williams, Web Site Designer and Programmer</li>
	</ul>
	<p>For feedback about this Web site, contact rmcweb@cornell.edu</p>.
	<%= render partial: 'pages/top' %>
</div>