<% content_for :page_title, 'International Workers’ Order (IWO) and Jewish People\'s Fraternal Order (JPFO)' %>
<div class="container iwo-layout">
	<h2>International Workers’ Order (IWO) and Jewish People's Fraternal Order (JPFO)</h2>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3><a href="#sets">Browse by set</a> | <a href="/?f%5Bcollection_tesim%5D%5B%5D=International+Workers’+Order+%28IWO%29+and+Jewish+People%27s+Fraternal+Order+%28JPFO%29">browse full collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "International Workers’ Order (IWO) and Jewish People's Fraternal Order (JPFO)"}  %>
			</div>
			<a href="/catalog/ss:19043106"><%= image_tag "collections/iwo-jpfo/marcantonio.png" , alt: "", class: "img-thumbnail img-responsive" %></a>
			<p class="caption"><a href="/catalog/ss:19043106">Security with FDR: Your Vote Is Your Weapon, Use It!</a>, 1944, page 19.</p>
		</div>
		<div class="col-sm-8 col-sm-pull-4">

			<p><strong>Fellow Travelers: From Popular Front to Cold War. Selections from the ILR School Catherwood Library Archives of the Yiddish Immigrant Left<br>
			Jewish People’s Fraternal Order (U.S.) יידישער פראטערנאלער פאלקס־ארדן ,JPFO, א.פ.פ.א<br>
			International Workers Order, אינטערנאציאנאלער ארבעטער ארדן ,IWO, א.א.א</strong></p>

			<p>This bilingual project conserves, digitizes, and curates a portion of Cornell’s International Workers Order (IWO) archives and most especially those of its Jewish division, known as the Jewish People’s Fraternal Order (JPFO). The IWO was founded in 1930 as an immigrant fraternal order that provided high-quality, low-cost health and burial insurance and other benefits for members. The origins of the IWO / JPFO arise from a decade of splits (1920-1930) concerning the U.S.S.R., the Bolshevik Revolution and Communism that consumed the Jewish Federation of Socialists and the Arbeter Ring (Workmens’ Circle) groups associated with Eugene V. Debs’ Socialist Party. While the vast majority of the IWO’s members—200,000 at its peak right after World War II—did not belong to the Communist Party of the United States of America, the IWO’s politics and leadership were largely aligned with those of the Party. The IWO was legally disbanded in 1953 due to the Cold War “Red Scare.” This closure followed on a famous and unprecedented court case: its insurance funds and records were seized by New York State’s Insurance Department. The presence of a goodly portion of the IWO’s archives in the Kheel Center’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> Catherwood Library collection at Cornell’s Industrial and Labor Relations (ILR) School is a direct result of that seizure.</p> 

			<p>The JPFO—50,000 members at its height—was the largest of the many “national” or “language” sections of the IWO. The Kheel Center’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> archival collection directly records the activities of the JPFO, in English as well as Yiddish. These documents provide a rare window into the politics and culture of the Yiddish speaking immigrant left during World War II. These documents contain the seeds of a fascinating and detailed history of competing and complementary loyalties and priorities: to the Soviet Union and the international left-wing movement; to the United States; and to the Jewish people and the propagation of a secular Yiddish culture. During the Popular Front and World War II, many “fellow travelers” trod partially or fully on the same path as Party members. During these years, as knowledge of Nazi policies and atrocities increased, aligning with policies that supported Stalin’s U.S.S.R. could be viewed as tantamount to fighting Hitler’s Germany. Although they kept their distance from Stalinist politics, as seen in these archives such fellow travelers arguably included Marc Chagall, Albert Einstein, Pete Seeger, Sholem Asch, Vito Marcantonio, Paul Robeson* and many others.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:20632119"><%= image_tag "http://stor.artstor.org/stor/e519314a-467d-4b12-a93f-e67f0990be54_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:20632119">Chagall Autographed Letter Asking New York French Consulate to Aid Rubin Saltzman in Regard to Jewish Children's Orphanage in France</a>, French, 1945</p>
			</div>

			<p>The trajectory of the IWO / JPFO's relatively hard-won acceptance into the mainstream—Jewishly and otherwise—can be seen in this correspondence since it follows the arc of Hitler declaring war on Stalin, the larger Allied war effort and the rapid fading of that moment with the start of the Cold War, circa 1947. The chilling effect of the Cold War can also be seen in Stalin’s repression of the JPFO’s erstwhile wartime ally, the Moscow-based Jewish Anti-Fascist Committee.</p> 

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:19043040"><%= image_tag "http://stor.artstor.org/stor/1e527a05-5086-43d9-9db8-070d10a4b221_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:19043040"><em>For the Homeland in Battle</em>, Jewish Anti-Fascist Committee Poetry Anthology</a>, Emes Farlag, Moscow, 1941, Yiddish</p>
			</div>

			<p>This site is envisioned to serve more broadly as an online teaching and research tool in secondary and university classrooms (in fields such as American history, labor, left, immigration and ethnic studies, the Cold War and Jewish studies), as well as provide document access to a wider literate public that increasingly does its “continuing education” online.</p>

			<p>The larger collection digitized by Cornell’s library with the help of Cornell’s Jewish Studies Program, is of inherent interdisciplinary interest. Its contents address issues ranging from the transformations of Jewish identity in the middle of the twentieth century under the pressures of immigration, revolutionism, and World War II, to the history of splits and reconfigurations in United States radical politics during the first half of the twentieth century, to the relation between class and ethnicity, and in some ways most intriguingly, the participation of folk musicians and other artists in those radical politics.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072844"><%= image_tag "http://stor.artstor.org/stor/53ddb3d1-5af2-4047-a088-7d3795f01985_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072844"><em>Sickle and Hammer</em></a>, May 1929, Number 2, booklet, Hersh Lekert School, Detroit Michigan</p>
			</div>

			<p>While substantial work has been done on the interaction of Jews and the left, and while these archives have been consulted in the course of such research, there is much more to be revealed by the kind of close focus on organizational files offered here. For instance, these materials shed light on the intersections of Black and Jewish identity in programmatic political work and cultural productions prior to the mainstream civil rights movement, especially since the IWO recruited African-American members for its lodges and did not apply discriminatory rates for its benefit packages, as major private insurance companies did.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:19043803"><%= image_tag "http://stor.artstor.org/stor/cfea1999-e798-4952-91d1-e911c23f6621_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:19043803">National Negro History Week, JPFO flyer</a>, 1947</p>
			</div>

			<p>Some of the wartime labor and relief efforts documented in the collection potentially complement materials about left-wing labor and political movements during World War II. While limited in quantity, there is material that is likewise pertinent to music, such as songs and programs by Ruth Rubin, Pete Seeger, Paul Robeson et al. As part of its support for the Moscow-based Jewish Anti-Fascist Committee’s Black Book project which documented Nazi genocide in the U.S.S.R., the JPFO worked with the American Committee of Jewish Writers, Artists and Scientists headed by Albert Einstein and Sholem Asch, as well as with the Jewish Council for Russian War Relief.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072652"><%= image_tag "http://stor.artstor.org/stor/085b8049-d8f0-4713-a800-c780c4451da8_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072652"><em>What Russia Means to Us</em></a>, Albert Einstein, booklet, Jewish Council for Russian War Relief, 1942</p>
			</div>

			<p>The JPFO organizational files supply a detailed, albeit incomplete, record regarding the history of a U.S. immigrant organization that promoted Soviet-aligned secular Yiddish Culture as it navigated some of the twentieth century’s thorniest and stormiest political currents. The JPFO’s international reach is apparent in files that document, inter alia, relief activities in post-War Europe.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:20632461"><%= image_tag "http://stor.artstor.org/stor/60665f73-1ae7-4ddf-a452-2c3e55bafc64_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:20632461">Letter from Rubin Saltzman in Poland Describing Kielce Pogrom Aftermath</a> (links to translation), JPFO, 1946</p>
			</div>

			<p>Reports from national and local organizers as well as national conventions and international visits offer researchers multiple insights into international and Jewish politics. They also offer official articulations of what it meant to be an immigrant fraternal organization, as seen not only in position papers but in its quotidian work organizing membership drives, lodge activities, movie evenings and delivering health benefits while searching for intergenerational continuity in an American context.</p>

			<p>Presentation of these materials can serve to increase contemporary awareness of the complex choices, creativity and constraints that shaped the lives of earlier generations. The archives of the Kheel Center <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> collection of the IWO/JPFO offer a potentially rich vein for advancing that goal. These papers arrived at the Kheel Center Archives between 1960 and 2002. We acknowledge that the Liquidation Bureau of the State of New York Insurance Department transferred IWO records to Cornell University in 1961. We also acknowledge that the Saltzman Schwartz family donated books and files to Cornell University in 1984. That is more than enough time to warrant taking a look at the complicated politics of cultural production that marked the JPFO's years, and how its leadership navigated the various contested and sometimes contradictory or even apologetic policies of its day.</p>

			<p>Collections such as Cornell’s that are devoted to the <a href="https://trianglefire.ilr.cornell.edu/">Triangle Fire</a> or other aspects of U.S. labor history benefit through the availability of the IWO / JPFO collection. Clara Lemlich Shavelson is best known for her association with Triangle Shirtwaist factory as one of the main organizers of the 1909 New York City women’s garment workers strike known as the Uprising of the 20,000. Documents in Cornell’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> collection featuring such JPFO figures as Lemlich as a founder of the JPFO’s Emma Lazarus League offer new insights into questions of organizing around gender and class that become visible in a different political, cultural context. Our intent in noting the Kheel Center’s broad holdings is to encourage researchers to use its unique labor collection as well as to consult its separate, English only, IWO paper archive of the Insurance Department’s Case Files (Cornell’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05940.html">5940</a> collection). Not least, there are other relevant materials that are part of Cornell’s <a href="https://rare.library.cornell.edu/">Rare and Manuscript Collections</a> or are stored elsewhere in its library system.**</p>

			<h3>Cold War Blues</h3>

			<p>Researchers need to be able to contextualize a larger picture as well as use archives in ways that support detailed document scrutiny. Our fervent hope is that accessing documents online will spur further interest and encourage researchers to come to Cornell’s Ithaca campus to use its paper and microfilm  files, including relevant holdings on the IWO / JPFO that are to be found in Cornell’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05940.html">5940</a> collection. That collection focuses on the legal issues ensuing from the Insurance Department of the State of New York’s re-interpretation of an insurance regulation so as to revoke the IWO’s charter as a fraternal organization, thereby shutting down the organization.</p>

			<p>The IWO became a legal cause célèbre when it was shut down during the Cold War due to a unprecedented broad reading of insurance law that categorized the IWO as a “hazard” due to its political affiliations. Its financial probity as a fraternal benefits society was not in question, although that was the ostensible reason for NYS Insurance Department’s ultimately successful effort to seize the IWO’s assets and liquidate it. The legal proceedings raised the question as whether the IWO was in fact a bone fide fraternal order since its political activities were clearly interwoven into its framework of a fraternal mutual benefits society with affiliated lodges. It also raised numerous constitutional and regulatory issues regarding the State’s role including the question of whether an insurance regulator was exceeding its authority in attempting to legally liquidate a successful insurance company for non-financial reasons.</p>

			<p>Over two decades ago, law professor Arthur J. Sabin focused his energies on that <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05940.html">5940</a> archive and worked extensively with the Kheel Center, ensuring that a solid legal history of the IWO’s battle with New York State’s Insurance Department would be written using Kheel’s documents as well as other sources. The legal findings from that archive are well summarized by Sabin (1993) in his Red Scare in Court: New York versus the International Workers Order. He offers insights into the controversial legal proceedings in which the IWO is taken to court in an insurance trial that is literally being held in the same building as the Rosenberg spy case. This was not an accidental pairing given that the Rosenbergs were IWO members.</p> 

			<p>N.B., Some legal files such as briefs and memos from Arthur Kinoy that outline constitutional and other debates have been digitized as part of this IWO / JPFO project. They represent a critical part of the IWO / JPFO’s own organizational files as seen in in Cornell’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> collection since some were used in its public and membership campaigns to defend itself. Others were used to inform executive decision making.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072865"><%= image_tag "http://stor.artstor.org/stor/bb825ee6-45f7-4cae-bc45-93e96dd67028_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072865">US Court of Appeals for the District of Columbia Circuit, Brief for Appellant International Workers Order v. James P. McGranery, Attorney General</a>, 1953</p>
			</div>

			<p>Since IWO / JPFO documents have not been previously digitized at Kheel or elsewhere, currently there is no good way to digitally get at such holdings, whether they reside at the Kheel Center or elsewhere (primarily the Tamiment Archives at NYU, along with donated papers to be found at the YIVO Institute for Jewish Research). Thus, digitizing files from that archive would be a separate, worthwhile project.</p>

			<h3>World War II: The Culture Front, the Home Front, and the War Effort</h3>

			<p>These archives document the Fascist era and World War II, when the wartime politics of JPFO members met with relatively mainstream acceptance (among Jews and others) despite their political alignment with a Stalinist-led Communist party. One of the major post-War challenges they faced was anti-Semitism: the JPFO was involved in documenting the Holocaust through the Black Book project on Nazi crimes against Jews. That project was shut down by Stalin, even as the IWO / JPFO’s political affiliation with the U.S.S.R. subjected it to intense scrutiny by HUAC (the House UnAmerican Activities Committee).</p>
 
			<p>The JPFO’s activities during the War years reflect left-wing Jewish responses to shifts in U.S.S.R. policy. These encouraged the JPFO not only to fully support the War, but to put together a “Jewish Unity” front. Voluminous correspondence in the archive documents the JPFO’s campaign to convince organizations such as B’nai Brith to accept it as a Jewish organization per se. War support efforts include active get-out-the vote campaigning for FDR as well as Jewish community fund-raising for US War Bonds, Russian tanks, and Jewish refugees.</p>
			
			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072643"><%= image_tag "http://stor.artstor.org/stor/68fcfa99-e4c7-4dd7-aed0-92318dac7dd6_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072643">William Gropper Cartoon Depicting New Soviet Tanks Named for Jewish Heroes</a>, JPFO, 1942</p>
			</div>

			<p>The political shifts are well documented here, including in its  1944 change of name from the Jewish American Section of the IWO to the Jewish People’s Fraternal Order. The emphasis on producing and being part of “Yiddishe Kultur” is described in these papers as part of an ethnic pride reaction. There is concern for strengthening the identity of a new generation, so that its cohort can be proudly Jewish during these challenging war years. Moreover, the Nazi genocide—and the refusal of Soviet-led Communism to acknowledge its particular anti-Jewish valence—put the JPFO somewhat at odds with Communist Party policy, as did its insistence on a “national minority” having its own fraternal order. The JPFO’s intensive and well-documented campaign for post-war “rehabilitation and relief” efforts was geared to supporting Jewish community, and especially orphanages, in Poland, Belgium and France, as well as towards resettlement in the U.S. and in Palestine.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072722"><%= image_tag "http://stor.artstor.org/stor/a8c2cf2d-c073-4590-8749-4f1018d9946e_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072722">Million Dollar Campaign Fundraising Brochure, Red White and Blue Cover</a>, JPFO, 1945</p>
			</div>

			<p>A related thrust is the IWO / JPFO’s organized support for “the party line.” One prominent feature of this complicated terrain is its insistence on Julius and Ethel Rosenbergs’ innocence, after they were charged as nuclear spies in what became a famous capital punishment case. The IWO / JPFO insisted that the Rosenbergs were simply victims of anti-Semitism, which was claimed to be a known U.S. phenomenon that was strictly absent from (and legally forbidden) in the U.S.S.R.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:21072825"><%= image_tag "http://stor.artstor.org/stor/66ef0a3b-cd61-4c98-aeba-a958c8dcebdd_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:21072825">New Evidence in Rosenberg Case</a>, Booklet, May 1953/p>
			</div>

			<p>More generally, the IWO / JPFO diverged from other Jewish immigrant leftists when it defended the Stalinist purges of the 1930s, supported the Molotov-Ribbentrop pact that divided Poland by ceding half of it to Hitler, and justified the prison deaths of the Polish Bundists Erlich and Alter. Later, they denied reports that Solomon (Shloyme) Mikhoels and others from the Jewish Anti-Fascist Committee had been murdered along with those tried and convicted in the so-called [mainly Jewish] “Doctors’ Plot” ostensibly to murder Stalin. While many joined the IWO / JPFO, many left as well.</p>

			<p>By the late 1940s, retaliation in the U.S. had escalated as part of a Cold War McCarthyism, part of which was a “Red Scare” that targeted civil rights activists and a broad spectrum of leftists. The IWO was placed on Attorney General’s Tom Clark’s “Red List” and its activists were placed under FBI surveillance. The rhetoric of that era continues to resonate today, especially in discussions of the constitutional right to free speech and the right to avoid self-incrimination.</p>

			<p>Hence, the archives’ holdings touch deeply on topics of interest to scholars, students and prospective researchers of labor, Jewish life and education, international relations, the Cold War, McCarthyism, race relations, Yiddish poetry, ethnicity, the New York State Insurance Department, the McCarran Act, immigration, American Jewish-Black Relations, the poll tax, immigrant acculturation, American Jewish identity, the Jewish Federation of Socialists, the Workmen’s Circle, U.S.S.R., Black Book, Stalin, and the Jewish Anti-Fascist Committee. Scholars of Soviet-oriented communism will be interested in this archive, as will scholars of immigration and immigrant acculturation. Other pertinent topics include Palestine/Israel, folk music, summer camps such as Camp Kinderland and JPFO schools (Shule), health insurance, burial insurance, unemployment insurance, social security, fraternal societies, and mutual aid. Scholars of immigration, fraternal societies and the left will find a small amount of materials that pertain to the IWO’s other national affiliates which included the Garibaldi, Ukrainian, Polish, Romanian, Spanish, Greek, Finnish, Carpatho-Russian, Czech, Croatian, Hellenic, and Douglas-Lincoln fraternal lodge sections: its general lodges were interracial.</p>

			<p>The IWO / JPFO’s responses to the rapid crescendo of federal and state legal actions can be seen in its regular records. At the denouement of the legal struggle, the JPFO spun off, in a weakened form, its childrens’ schools and camp as well as its cemetery department, to ensure that they were not fully shut down. The (Women’s) Emma Lazarus Division also became its own legal entity. It is clear that New York State and the FBI did not confiscate all organizational files; some were smuggled out before the offices were raided in 1951. What is less clear is whether Cornell’s archives represent all files confiscated.</p>

			<h3>The Archival Materials: Organizational Files</h3>

			<p>The digital files represented here are a curated subset of ~1,700 documents found in the Kheel Center’s <a href="http://rmc.library.cornell.edu/EAD/htmldocs/KCL05276.html">5276</a> collection. These organizational documents include but are not limited to memos, minutes, correspondence, convention proceedings, flyers and other ephemera, Jubilee (anniversary) journals, educational materials, political pamphlets and the occasional magazine.</p>

			<div class="center-block text-center center-image-block">
				<a href="/catalog/ss:19043124"><%= image_tag "http://stor.artstor.org/stor/6e1ee848-4d3e-4886-8eb2-63020dbb3d06_size3" , alt: "", class: "img-thumbnail img-responsive" %></a>
				<p class="caption"><a href="/catalog/ss:19043124"><em>Almanakh 10th anniversary</em></a>, Yiddish Cooperative League, 1940</p>
			</div>

			<p>In addition to printed materials, archive documents are primarily typed text (English or Yiddish) on paper with a small amount of handwritten materials in Yiddish. While the IWO documents are primarily in English, perhaps a quarter of the selected JPFO documents are in Yiddish. Their very production proves the JPFO’s engagement with and contribution to “Yidishe Kultur” (Yiddish Culture), a broad rubric that encompasses primarily secular Jewish engagement with the arts that was seen as consistent with the IWO / JPFO’s overall focus on harnessing “Kultur-Arbet” (Cultural Work) for overtly political ends.</p>

			<p>There is also some small amount of flyers, concert programs and somewhat attractive coupons (raffle size for the war effort). There are a few radio grams (from the U.S.S.R. or elsewhere) and telegrams. There is also a tiny number of photos (not artistic in nature). The bound volumes of newsletters as well as other more graphic documents such as pamphlets or songbooks are more visual in nature and often associated with cultural programs and/or projects. Some publications such as book, magazine and pamphlet covers also have interesting graphics or lettering in addition to historically valuable content. Of note is a rare 1941 poetry anthology published in Moscow by the Jewish Anti-Fascist Committee as well as autographed letters from Marc Chagall.</p> 

			<h3>Yiddish Orthography and Ideology</h3>

			<p>YIVO standards of transliteration have been used when providing titles and names from Yiddish into English. Since Yiddish speaking immigrants generally chose their own English surnames and often used commonly transliterated spellings as part of a process of immigrant acculturation, it is safe to assume that most did not employ YIVO’s system to determine the spelling of their names or those of many other words. Hence, in rendering names found in this archive every effort has been made to use the names that the immigrants themselves used while noting that those names may have shifted over the course of time. Itche Goldberg is rendered as “Itche,” since that is how he spelled his name in English (the YIVO orthography of Itshe is also noted since it is used by the Library of Congress Name Authority File, i.e., LCNAF). Pesach Novick used Paul as his English surname. Other examples abound. Also an English translation of the title/subject is often noted on the top of a document. These renderings—penciled in as a result of the files being confiscated—have been captured in a separate field since they may be helpful when matching up a document to a title or subject seen in a finding guide.</p>

			<p>Another point well worth noting is that twentieth century Yiddish itself does not necessarily use a fully standardized orthographic system. Yiddish, a fusion language spelled with Hebrew letters, is related to medieval German dialects and has a Slavic component. Words and expressions of Hebrew or Aramaic origin are deeply integrated into this linguistic framework, most especially but not exclusively in regard to religion and literature. In other words, Yiddish language history is reflected in its variable orthography. Of interest in this archive is that aside from differences based on regional dialects, most of the writers and publications did not use the Soviet “simplified” system which discouraged the use of spellings that showed a word to be of Hebrew or Aramaic origin. While Yiddish orthography may well reflect ideology, in the case of this archive, it does not necessarily do so.</p>		

			<p>Lastly in looking to encourage best practices in digitizing multi-lingual paper archives, we have provided Yiddish titles and names, in Yiddish as spelled in these documents so as to provide a fuller flavor of the richness of this material in the language it was produced in. We have provided summary translations where possible of Yiddish language documents.</p>

			<h3>Figures of Interest</h3>

			<p>Researchers may find documents authored by or that merely touch upon historic figures who were important in Jewish life and culture, or are relevant to public history in other ways. Among such figures are Earl Browder, Max Bedacht, Jay Lovestone, Paul Robeson, Chaim Zhitlowsky, Marc Chagall, Ruth Rubin, B.Z. Goldberg, Sholem Asch, Albert Einstein, Solomon (Shloyme) Mikhoels, Itzik Feffer, and Moshe Nadir. Figures who were directly involved with daily work in the IWO/JPFO include but are not limited to Clara Lemlich (Shavelson), June Gordon, Kalman Marmor, Nachman Mayzel (Meisel), Itche Goldberg, Pesach (Paul) Novick, Sam Pevzner, Morris Schappes, Gedalya (George) Sanders, Rubin Saltzman and Albert E. Kahn. Material also exists on extensive IWO / JPFO legal and political campaigns that involved national historic figures.</p>

			<hr>

			<p><small>* Scholars and others have long debated whether Paul Robeson at any point actually became a member of the Communist Party; most think not. He visited Moscow on a number of occasions starting in the 1930s. Robeson worked extensively with the IWO / JPFO who introduced him to Itzik Feffer of the Jewish Anti-Fascist Committee of the U.S.S.R. (JAFC) when Feffer visited New York in 1943. Robeson kept up the connection in Moscow and was one of the last people to see Feffer before he was murdered. The IWO and JPFO were active organizers and promoters of the 1949 concert in Peekskill, New York where Robeson was prevented from performing due to physical threats by an organized mob that objected to his politics and presence.</small></p>

			<p><small>** Making these materials electronically available may also help alert researchers as to significant archives on related topics at the Kheel Center, such as the 200 linear feet of archives of the remarkable Foner family, a multigenerational heritage of radical organizing (particularly in the Furriers’ Union), musicianship, and scholarship (the historians Nancy and Eric).</small></p>
			<%= render partial: 'pages/top' %>
			<h3 id="sets">Browse by set</h3>
			<%= render partial: 'pages/collections/iwo-jpfo/sets' %>
			<%= render partial: 'pages/top' %>
		</div>
	</div>
</div>