<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<%= render partial: 'pages/collections/seneca/menu' %>
<div class="seneca-layout">
	<div class="container">
		<h3><a href="/collections/seneca/townley-read">Townley-Read</a> / General Site Finds</h3>
		<p>This section of the website contains examples of interesting or unique artifacts, plant remains, or animal bone and tooth fragments from the Onöndowa'ga:' occupation at the site of types that were not found within the spaces at the Townley-Read site we have chosen to highlight for this digital project.  This section also includes overall site maps and excavation photos.</p>
		<p><small>- Kurt A. Jordan, archaeologist</small></p>

		<div class="well">
			<h4>General Site Finds</h4>
			<!-- <div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=General+Site+Finds&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Artifacts</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=General+Site+Finds&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Animal remains</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=General+Site+Finds&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Plant remains</h3>
					</a>
				</div>
			</div> -->
			<div class="center-image-block row clearfix">
				<!-- <div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=White+Springs&f%5Blocation_tesim%5D%5B%5D=General+Site+Finds&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Maps, diagrams, and excavation photos</h3>
					</a>
				</div> -->
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Townley-Read+General+Site+Finds&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Show all</h3>
					</a>
				</div>
			</div>
		</div>
		<%= render partial: 'pages/top' %>
	</div>
</div>