<% content_for :page_title, 'House 1 - Townley-Read - Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3><a href="/collections/seneca/townley-read">Townley-Read</a> / House 1</h3>
	<p>Excavations in 1999 concentrated on a single area of the Townley-Read site where a large number of domestic artifacts and food remains were found on the plowed surface of the site.  This area was called Domestic Refuse Cluster 1.  Initial testing revealed the traces of several Onöndowa'ga:'-era posts, so an excavation trench was opened up and revealed that these posts were part of a house.  The project uncovered the full footprint of an Onöndowa'ga:' structure and also investigated a number of posts and pit features in the yard area around the house, including a large outdoor firepit (Feature 5).</p>
	<p>Townley-Read House 1 was 25 feet (7.5 meters) long and 17 feet (5.3 meters) wide. It shows many characteristics of traditional Haudenosaunee architecture, including a staggered line of posts in the west wall, used to brace rigid siding, and four large interior support posts that bore most of the weight of the house. The west wall is very well-defined, and the north wall a bit less so, while the south wall was highly impacted by a twentieth-century pipe trench.  The east wall is somewhat unusual as it contains two large posts, one of which was a rectangular post with a dug-out post hole.  Archaeologists looked carefully in the area to the east of the structure to see if it was more than 25 feet (7.5 meters) long, but found no additional posts. The diagrams show the full extent of the house.</p>
	<p>A structure of this size is classified as a “short longhouse.”  It was built using Haudenosaunee architectural principles, had two sleeping benches and probably a central in-ground fireplace, and likely housed two nuclear families.  Archaeologists did not find traces of the central fireplace, but that is not unusual since comparative examples suggest hearths were quite shallow; the one from House 1 probably was destroyed by plowing.  The finds of hand-wrought nails suggest that nails were used in the construction of the short longhouse.</p>
	<p>- Kurt A. Jordan, archaeologist</p>

	<div class="well">
		<h4>House 1</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=House+1&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "collections/seneca/townley-read/22376862.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Artifacts</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=House+1&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "collections/seneca/townley-read/22376852.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Animal remains</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=House+1&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Plant remains</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=House+1&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/townley-read/22536145.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Maps, diagrams, and excavation photos</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=House+1&view=gallery"><%= image_tag "collections/seneca/townley-read/22536122.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
					<h3>Show all</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>