<% content_for :page_title, 'Large Outdoor Firepit - Townley-Read - Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<div class="container">
	<%= render partial: 'pages/collections/seneca/menu' %>
</div>
<div class="container seneca-layout">
	<h3><a href="/collections/seneca/townley-read">Townley-Read</a> / Large Outdoor Firepit</h3>
	<p>Excavations in 1999 concentrated on a single area of the Townley-Read site where a large number of domestic artifacts and food remains were found on the plowed surface of the site.  This area was called Domestic Refuse Cluster 1.  Excavations revealed the full footprint of a Onöndowa'ga:' dwelling (House 1) as well as a number of posts and pit features in the yard area around the house.  The largest feature associated with House 1 was a large outdoor firepit termed Feature 5.  The firepit was about 70 feet (21.5 meters) east of the house.</p>
	<p>The firepit was 11.5 feet (3.5 meters) long, 5.5 feet (1.7 meters) wide, and extended 17 inches (43 centimeters) below the depth of the non-cultural subsoil around it.  Since this area had been plowed by Euroamerican farmers after the Onöndowa'ga:' occupation, it was originally larger and deeper but the upper parts of the firepit were mixed up by plowing.  Within the firepit, archaeologists found a wide variety of animal and plant remains and 76 Onöndowa'ga:'-era artifacts.</p>
	<p>The recovered materials suggest that the firepit was primarily used for bulk processing of deerhides and other furs and skins and production of bone grease, with a secondary focus on preparation of plant and animal foods and medicines.  Artifacts suggest that brass-working took place in the area, and two complete long tubular shell beads were found within the feature.</p>
	<p>- Kurt A. Jordan, archaeologist</p>

	<div class="well">
		<h4>Large Outdoor Firepit</h4>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Large+Outdoor+Firepit&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "collections/seneca/townley-read/22376824.jpg" , alt: "Artifacts", class: "img-thumbnail img-responsive" %>
					<h3>Artifacts</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Large+Outdoor+Firepit&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "collections/seneca/townley-read/22376743.jpg" , alt: "Animal remains", class: "img-thumbnail img-responsive" %>
					<h3>Animal remains</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Large+Outdoor+Firepit&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "collections/seneca/townley-read/24767664.jpg" , alt: "Plant remains", class: "img-thumbnail img-responsive" %>
					<h3>Plant remains</h3>
				</a>
			</div>
		</div>
		<div class="center-image-block row clearfix">
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Large+Outdoor+Firepit&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "collections/seneca/townley-read/22536128.jpg" , alt: "Maps, diagrams, and excavation photos", class: "img-thumbnail img-responsive" %>
					<h3>Maps, diagrams, and excavation photos</h3>
				</a>
			</div>
			<div class="image col-sm-4">
				<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bcreation_site_location_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Large+Outdoor+Firepit&view=gallery"><%= image_tag "collections/seneca/townley-read/22376810.jpg" , alt: "Show all", class: "img-thumbnail img-responsive" %>
					<h3>Show all</h3>
				</a>
			</div>
		</div>
	</div>
	<%= render partial: 'pages/top' %>
</div>