<% content_for :page_title, 'Seneca Haudenosaunee Archaeological Materials, circa 1688-1754' %>
<%= render partial: 'pages/collections/seneca/menu' %>
<div class="seneca-layout">
	<div class="container">
		<h3><a href="/collections/seneca/townley-read">Townley-Read</a> / Trash Deposit Area</h3>
		<p>Excavations in 2000 at the Townley-Read site tested an area where significant amounts of animal bone and other domestic-looking refuse were found on the plowed surface of the site, termed Domestic Refuse Cluster 3.  Further investigation suggests that this was an area used for depositing trash, particularly waste materials from food preparation.</p>
		<p>Archaeologists digging in the area found an upper layer of plowed soil, mixed up by Euroamerican farming at the site after the Onöndowa'ga:' occupation.  Below that there was a very dark layer of soil 5–8 inches (12–20 centimeters) thick.  Initially, archaeologists thought this could be an intact Onöndowa'ga:' living floor or trash deposit (trash areas are also called “middens”).  This would have been particularly noteworthy since preservation of artifacts and plant and animal remains would have been excellent. However, on the last day of excavation, archaeologists found linear scars in the subsoil below the buried layer that prove it was plowed as well. Despite this, preservation was quite good in this layer. It appears that this deep deposit was plowed only for a while, perhaps during the first years of Euroamerican farming at the site, and it later was buried by soil that washed down the slope to the west.  Subsequent farming disturbed only the washed-in soil found in the upper 14 inches (35 centimeters) of soil in this area.</p>
		<p>Artifacts from this area include (among other things) a number of fragments of bottle glass, broken pieces of smoking pipes, and a number of small glass beads.  The glass beads may represent traces of beadwork activities that were lost or discarded.  Since the range of materials was comparable to that found in House 1 at the site, it is likely that this area represents the trash discarded by a single Onöndowa'ga:' household.</p>
		<p><small>- Kurt A. Jordan, archaeologist</small></p>

		<div class="well">
			<h4>Trash Deposit Area</h4>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Trash+Deposit+Area&f%5Btype_tesim%5D%5B%5D=artifacts&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Artifacts</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Trash+Deposit+Area&f%5Btype_tesim%5D%5B%5D=animal+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Animal remains</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Trash+Deposit+Area&f%5Btype_tesim%5D%5B%5D=plant+remains&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Plant remains</h3>
					</a>
				</div>
			</div>
			<div class="center-image-block row clearfix">
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Trash+Deposit+Area&f%5Btype_tesim%5D%5B%5D=maps%2C+diagrams%2C+excavation+photos&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Maps, diagrams, and excavation photos</h3>
					</a>
				</div>
				<div class="image col-sm-4">
					<a href="/?f%5Bcollection_tesim%5D%5B%5D=Seneca+Haudenosaunee+Archaeological+Materials%2C+circa+1688-1754&f%5Bmap_site_tesim%5D%5B%5D=Townley-Read&f%5Blocation_tesim%5D%5B%5D=Trash+Deposit+Area&view=gallery"><%= image_tag "placeholder.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
						<h3>Show all</h3>
					</a>
				</div>
			</div>
		</div>
		<%= render partial: 'pages/top' %>
	</div>
</div>