<% content_for :page_title, 'Reuleaux Kinematic Mechanisms Collection' %>
<%= render partial: 'pages/collections/kmoddl/header' %>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-push-8 sidebar">
			<div class="collection-search well">
				<h3>Search or <a href="/collections/kmoddl#browse">browse the collection</a></h3>
				<%= render '/catalog/search_form', { :@collection_search => "Reuleaux Kinematic Mechanisms Collection"}  %>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/kmoddl/reuleaux.png", class: "img-responsive" %>
				<p class="caption">
					Franz Reuleaux
				</p>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/kmoddl/letter.png", class: "img-responsive" %>
				<p class="caption">
					Letter from Reuleaux to White on the purchase of models
				</p>
			</div>
			<div class="sidebar-image">
				<%= image_tag "collections/kmoddl/adwhite.png", class: "img-responsive" %>
				<p class="caption">
					Andrew Dickson White
				</p>
			</div>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h3>About KMODDL</h3>
			<p>The information provided in this section is based on material from the <a href="http://wayback.archive-it.org/2566/20180418122029/http:/kmoddl.library.cornell.edu/">original KMODDL project</a>.</p>
			<div class="well">
				<ul>
					<li><a href="#kinematics">What is Kinematics?</a></li>
					<li><a href="#reuleaux">Reuleaux Collection of Kinematic Mechanisms, Cornell University</a></li>
					<li><a href="#additional">Additional Materials on Kinematics</a></li>
					<li><a href="#project">The KMODDL Project</a></li>
				</ul>
			</div>
			<h4 id="kinematics">What is Kinematics?</h4>
			<p>Kinematics is the geometry of pure motion - motion considered abstractly, without reference to force or mass. Engineers use kinematics in machine design. Although hidden in much of modern technology, kinematic mechanisms are important components of many technologies such as robots, automobiles, aircraft, satellites, and consumer electronics, as well as biomechanical prostheses. In physics, kinematics is part of the teaching of basic ideas of dynamics; in mathematics, it is a fundamental part of geometric thinking and concepts of motion. The development of high-speed computers and robotics, and the growth of design synthesis theory and mechatronics have recently revived interest in kinematics and early work in machine design.</p>
			<p>In his 1834 <em>Essai sur la philosophie des sciences</em>, André-Marie Ampère (1775-1836) sketched the outlines of a new field of study he named "cinematique," from the Greek <em>kinema</em>, or <em>motion</em>:</p>
			<blockquote>
				<p>There exist considerations which if sufficiently developed would constitute a complete science, but which had hitherto been neglected, or have formed only the subject of memoirs or special essays. This science ought to include all that can be said with respect to motion in its different kinds, independently of the forces by which it is produced. ... It should treat in the first place of spaces passed over, and of times employed in different motions, and of determination of velocities according to the different relations which may exist between those spaces and times (In Richard S. Hartenberg and Jacques Denavit, <a href="https://hdl.handle.net/1813/58640">Kinematic Synthesis of Linkages</a> [New York: McGraw Hill, 1964] 14-15; translation by Hartenberg and Denavit). </p>
			</blockquote>
			<p>Working in the decades following Ampère's death, Franz Reuleaux (1829-1905) is considered the founder of modern kinematics. Reuleaux called it "the study of the motion of bodies of every kind…and the study of the geometric representation of motion" (<a href="https://hdl.handle.net/1813/58740">Kinematics of Machinery 56</a>).</p>
			<p>Kinematics flourished in the 19th century as machine inventors learned to transmit information and forces (power) from one element in the machine to another. Steam- and water-based machines revolutionized the 19th century, but both of those energy sources generate circular motions, creating the need to convert these steady circular motions into nonsteady linear and curvilinear motion for machine applications. Practical inventors as well as mathematicians [Artobolevskii 1964] took up the challenge to create input-output kinematic devices that could convert circular motion into noncircular, complex, three-dimensional, intermittent motions. Thousands of mechanisms were invented, designed, and built, nurturing the widespread use and manufacture of machines. Reuleaux set out to codify, analyze, and synthesize kinematic mechanisms so that engineers could approach machine design in a rational way. He laid the foundation for a systematic study of machines by defining clearly the machine and mechanism, determining the basic mechanical building blocks, and developing a system for classifying known mechanism types. Reuleaux was the author of Theoretische Kinematik: Grundzüge einer Theorie des Machinenwesens, which appeared in English in 1876 as <a href="https://hdl.handle.net/1813/58740">The Kinematics of Machinery: Outlines of a Theory of Machines</a>. He also published another important work related to design of machines in 1861, which was translated as <a href="https://hdl.handle.net/1813/58746">The Constructor</a> (1893). Mechanical models designed by Reuleaux to embody his classification of kinematic mechanisms are the basis for the Kinematic Models for Design Digital Library (KMODDL).</p>

			<h4 id="reuleaux">Reuleaux Collection of Kinematic Mechanisms, Cornell University</h4>
			<p>The 220 models in Cornell University’s Reuleaux Collection were built in the late 19th century to demonstrate the elements of machine motion, as theorized by the German engineer Franz Reuleaux. The University acquired the models in 1882 for use in teaching and research.</p>
			<p>Franz Reuleaux created over 800 models of mechanisms to embody his basic machine elements, and he authorized a German company, Gustav Voigt Mechanische Werkstatt, in Berlin, to manufacture over 300 of these models for technical schools to use in teaching inventors and engineers about machines. By 1907, 368 models were available in the Voigt catalog. Cornell's first president, Andrew Dickson White, acquired a collection of 266 Reuleaux models for the university in 1882. 220 of these cast iron and brass models are still owned by Cornell's Sibley School of Mechanical and Aerospace Engineering - the most complete extant set of the Reuleaux mechanisms in the world.</p>
			<p>The Cornell Reuleaux Collection contains numerous kinematic mechanisms for rotary and reciprocating engines for both steam and internal combustion, as well as mechanisms for producing mathematical functions, which are related to the early history of calculation machines and later computer engineering. The Collection includes a dozen working clock escapement mechanisms, representing inventions that span over 500 years, from the early verge and foliot escapement, to the gravity escapement employed in London's Big Ben.</p>
			<p>At Cornell today, Reuleaux's models are used in the teaching of design, dynamics, robotics, art, and architecture, as well as in historical research. In November 2002, the Reuleaux Collection of Mechanisms and Machines at Cornell University was designated a <a href="https://www.asme.org/about-asme/engineering-history/landmarks/232-reuleaux-collection-of-kinematic-mechanisms-at">National Mechanical Engineering Historic Collection</a> by the American Society of Mechanical Engineers Landmarks Programz.</p>
			<p>For more about the Cornell Reuleaux Collection, see Francis C. Moon, "<a href="http://wayback.archive-it.org/2566/20180418122424/http:/kmoddl.library.cornell.edu/facets/moon61899.htm">The Reuleaux Collection of Kinematic Mechanisms at Cornell University</a>" (July 1999).</p>

			<h4 id="additional">Additional Materials on Kinematics</h4>
			<p>Cornell University Library digitized over fifty full-text works on kinematics and the history and theory of machines as part of the KMODDL project. The KMODDL e-books are openly accessible to all via PDF (including by chapter) in the <a href="https://ecommons.cornell.edu/handle/1813/57656">eCommons repository</a>. The collection contains mostly 19th- and early 20th-century books including Reuleaux’s major works, as well as Willis’s <a href="https://hdl.handle.net/1813/58771">Principles of Mechanism</a> (1841), Kennedy’s <a href="https://hdl.handle.net/1813/58659">Mechanics of Machinery</a> (1886), and Durley’s <a href="https://hdl.handle.net/1813/57674">Kinematics of Machines</a> (1907), among many others. Several are much older rare titles from Cornell Library’s History of Science Collection, including Böckler’s <a href="https://hdl.handle.net/1813/57664">Theatrum machinarum novum</a> (1661), Leupold’s <a href="https://hdl.handle.net/1813/58685">Theatrum machinarum generale</a> (1724), and Evans’s Young <a href="https://hdl.handle.net/1813/58285">Mill-Wright and Miller’s Guide</a> (1795).</p>
			<p>KMODDL also provides access to a collection of articles and working papers on the history and theory of machines and the pedagogical uses of mechanical models. Many of these materials were produced in connection with the creation of the KMODDL resource and are available in the <a href="https://ecommons.cornell.edu/handle/1813/57656">eCommons repository</a> for non-commercial use.</p>

			<h4 id="project">About the KMODDL Project</h4>
			<p>KMODDL was developed between 2002-2004 with funding from the National Science Foundation as part of the <a href="https://nsdl.oercommons.org/">National Science Digital Library</a>, whose original goal was to bring together in one place access to high quality information and learning resources pertaining to science, technology, engineering, and mathematics for all age levels. KMODDL was conceived and built in a collaborative effort of Cornell University Department of Mechanical Engineering, Department of Mathematics and the Library. Project participants included: John Saylor (principal investigator), Hod Lipson (co-principal investigator), Francis C. Moon (co-principal investigator), David W. Henderson (co-principal investigator), Daina Taimina (senior personnel), Kizer Walker, (senior personnel), Ron Rice (technician, programmer), Bing Pan (post-doc), James Reidy (technician, programmer), Shin-Woo Kim (technician, programmer), George S. Kozak (technician, programmer), Matthew Arnstein (technician, programmer), Melissa Kuo (web designer), and Laura DeForrest (graduate student).</p>

			<p>The project was expanded in 2004-2006 in partnership with the Museum of Science in Boston through funding from the Institute for Museum and Library Services (IMLS) to develop “Printable Machines” of the models based on early 3-D printing rapid prototyping technology (IMLS Award: “A Digital Library of Printable Machines: Models for Collection Building and Educational Outreach”). Cornell University personnel included John Saylor (principal investigator), Kizer Walker, (project manager), Francis C. Moon (co-principal investigator), Hod Lipson (co-principal investigator), Daina Taimina (educator, research associate), Ron Rice (technician, programmer), Nancy McGovern (digital library), Richard Entlich (digital library), Geri Gay (usability, evaluation), Helene Hembrooke (usability, evaluation), Bing Pan (post-doc).</p>

			<p>Computer-aided design drawings and stereolithography files were created that could be printed as working physical replicas of the models for use in exhibits and classrooms. In converting between information and artifact, the project recognized that 3D printing technology exemplified an intersection of library and museum work, providing a means for non-destructive exchange of working replicas of valuable or rare physical objects between collections and for direct dissemination to users for educational and research purposes. Photos, video, digital models, and descriptive records for the 120 models in Clark Collection of Mechanical Movements at the Museum of Science in Boston were also created and integrated into KMODDL. This collection of working models of mechanical movements and combinations of drive mechanisms was built by American engineer William M. Clark in the early 1900s and many of the digital materials are still available through the <a href="http://wayback.archive-it.org/2566/20180418122321/http://kmoddl.library.cornell.edu/aboutmeta1.php">original KMODDL site</a>.</p>

			<p>In addition to creating and making available digital images of the Reuleaux models and related resources, the KMODDL project devised a sophisticated metadata structure to describe and provide intellectual access to the models. More information on the original metadata schema and development work is available on the <a href="http://wayback.archive-it.org/2566/20180418122321/http:/kmoddl.library.cornell.edu/aboutmeta1.php">original KMODDL site</a>.</p>

			<p>For a contemporary overview of the project, see K. Walker, et al., “<a href="http://worldcat.org/arcviewer/1/OCC/2007/08/08/0000070511/viewer/file3379.html#feature1">Building a Digital Library of Kinematics</a>,” RLG DigiNews 7.4 (15 Aug. 2003).</p>
			<%= render partial: 'shared/top' %>
		</div>
	</div>
</div>