<% content_for :page_title, 'FAQ - Core Historical Literature of Agriculture' %>
<%= render partial: 'pages/collections/chla/header' %>
<div class="mann-layout mann-layout--chla">
	<div class="container">
		<div class="row">
			<div class="main-text">
				<h3>Frequently Asked Questions (FAQ)</h3>

				<p>Here are answers to some of the more frequently asked questions about CHLA. Questions dealing with searching and navigating this site are addressed on the Help page, and a narrative about the project is on our <a href="/collections/chla/about" aria-label="About CHLA">About</a> page. As always, if you have further questions about this site or its contents please <a href="/collections/chla/contact" aria-label="Contact CHLA">contact us</a> for assistance.</p>
				<p>Click on a link for an answer to the following commonly asked questions:</p>

				<div class="well" id="top">
					<ul class="jumplinks">
						<li><a href="#printing">I can print one page at a time from books on your site, but can I print out the entire book?</a></li>
						<li><a href="#value">Can you tell me the value of a rare book I own?</a></li>
						<li><a href="#permission">I'm teaching a class and would like permission to copy various pages from CHLA with the intent of using this information in my lectures. What are the copyright considerations?</a></li>
						<li><a href="#republish">I want to republish an image from CHLA. How do I get permission?</a></li>
						<li><a href="#add-title">I know of a book or journal that should be in this collection but isn't. Why isn't this title included? Do you take suggestions for additions?</a></li>
					</ul>
				</div>
				 
				<h4 id="printing">I can print one page at a time from books on your site, but can I print out the entire book?</h4>
				<p>For copyright reasons only page-by-page printing is available for items published after 1922. We’re working on a solution for the public domain materials published before 1923.</p>
				<%= render partial: 'shared/top' %>

				<h4 id="value">Can you tell me the value of a rare book I own?</h4>
				<p>We can't legally appraise or authenticate books, even if we were qualified. You may want to consult a specialist. Try searching for a reputable bookseller at the <a href="http://abaa.org/">Antiquarian Booksellers' Association of America</a>. There is a page for searching for booksellers by specialty and locale.</p>
				<%= render partial: 'shared/top' %>

				<h4 id="permission">I'm teaching a class and would like permission to copy various pages from CHLA with the intent of using this information in my lectures. What are the copyright considerations?</h4>
				<p>Some materials in this collection, usually published after 1922, are protected by U.S. Copyright Law (Title 17, U.S.C.) and/or by the copyright or neighboring-rights laws of other nations. Additionally, the reproduction of some materials may be restricted by terms of copyright ownership or licensing agreements. Transmission or reproduction of protected items beyond that allowed by fair use requires the written permission of the copyright owners.</p>
				<p>Fair use should apply in this case, since your use is for non-profit educational or research purposes. That said, copyright law dictates that the total amount of material in any one volume must be limited. If you intend to print pages in order to incorporate information into your lectures or to point out interesting material to your students, that is probably not a problem. If you intend to print a copy of an article or book for every student in your class it would likely be a copyright violation, as it would be duplication of an entire body of work. However, each student as an individual could access the material and print a copy. If all of this sounds confusing, you're hearing the voice of U.S. Copyright Law.</p>
				<p>We invite all our users to become familiar with our Copyright Statement that addresses these issues in more detail. Cornell University Library has also produced a <a href="https://copyright.cornell.edu/">Fair Use Checklist</a> that may be helpful to make a determination of fair use.</p>
				<%= render partial: 'shared/top' %>

				<h4 id="republish">I want to republish an image from CHLA. How do I get permission?</h4>
				<p>Mann Library does not own the rights to content found in the CHLA collection. Anything published in the United States before 1923 is in the public domain and does not require permission; however, if the image you wish to use was published in 1923 or later, you will need to determine the copyright status yourself.</p>
				<p>Whether public domain or with permission of the rights owner, if you do republish an image from the CHLA collection we ask that you attribute the provider of the image as "Image courtesy of the Core Historical Literature of Agriculture (CHLA), Ithaca, NY: Albert R. Mann Library, Cornell University."</p>
				<%= render partial: 'shared/top' %>

				<h4 id="add-title">I know of a book or journal that should be in this collection but isn't. Why isn't this title included? Do you take suggestions for additions?</h4>
				<p>Although the majority of materials in CHLA were methodically selected and reviewed by teams of scholars we are always open to suggestions for additions. Because of the breadth of subject and scope of years, some titles may emerge that were previously missed, and we would like to know about these. Feel free to <a href="/collections/chla/contact">contact us</a> with your suggestions.</p>

				<%= render partial: 'shared/top' %>

			</div>
			<div class="sidebar">
				<%= render partial: 'pages/collections/chla/menu_about' %>
				<%= image_tag "collections/chla/SmallfruitsofNYCarrie.jpg" , alt: "", class: "img-thumbnail img-responsive" %>
			</div>
		</div>
	</div>
</div>