<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
<script src ='http://bastides-test.dev.library.cornell.edu/sites/bastides-test.dev.library.cornell.edu/files/iiif/osd/openseadragon.min.js'></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <% if current_page?('/ragamala') && params[:f].nil?  %>
    <body class="<%= render_body_class %> blacklight-<%= params[:subject] %>-home blacklight-<%= params[:subject] %>">
  <% else %>
    <body class="<%= render_body_class %> blacklight-<%= params[:subject] %>">
  <% end %>

  <%= render :partial => 'shared/cornell' %>

  <%= render :partial => 'shared/header_navbar' %>
  <%= render partial: 'shared/ajax_modal' %>

  <div id="main-container">

    <%# if search results or item view, display a fluid layout %>
    <% if !params[:f].nil? || !params[:q].nil? || params[:action] == 'show' %>
      <div class="container-fluid">
        <%= render 'constraints' %>

        <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>
        <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    <%# for anything but search results or item view, set the width with container %>
    <% else %>
      <div class="container">
        <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>
        <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    <% end %>

  </div>

  <%= render :partial => 'shared/footer' %>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//webanalytics.library.cornell.edu/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 508]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//webanalytics.library.cornell.edu/piwik.php?idsite=508" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
  </body>
</html>
